<div class="designer-show__banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= cl_image_path(@designer.banner.key) if @designer.banner.attached? %>')">
        
  <div class="designer-banner__photo-display">
    <% if @designer.photo.attached? %>
      <%= image_tag @designer.photo, class: "designer-banner__image-placeholder" %>
    <% else %>
      <img src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1753797330/sfx_shop/placeholder_dbrvpk.png" alt="image placeholder" class="pack-submission-form__image-placeholder" data-submission-image-preview-target="preview">
    <% end %>
  </div>
  <h1 class="font-permanent-marker"><%= @designer.artist_name %></h1>

</div>
<div>
  <div id="body">
    <%= render "shared/left_pannel_mobile" %>
    <div class="d-flex">
      <%= render "shared/left_pannel_desktop" %>
      <div class="mx-3">
        <div>

          <div class="forms">
            <div class="drop-down">
              <form action="/sound_designers/<%= @designer.id %>" data-controller="category">
                <input type="hidden" name="category" value="<%= @dropdown %>" data-category-target="dropdown">
                <input type="hidden" name="filters" value="" data-filters-target="dropdown">
                <div class="d-flex justify-content-start">
                  <div>
                    <select type="text" name="dropdown" placeholder="category">
                      <% unless @category %>
                        <option value="" selected disabled hidden>Pick a category</option>
                      <% end %>
                      <option value="all" data-category-target="all">All</option>
                      <% @categories.each do |cat| %>
                        <option value="<%= cat.to_s %>" data-category-target="<%= cat.to_s.split("-").join %>" <%= 'selected' if cat.to_s.split("-").join == @category %>><%= cat.to_s.capitalize %></option>
                      <% end %>
                      <option value="free" data-category-target="free">Free</option>
                    </select>
                  </div>
                  <div>
                    <input type="submit" value="GO">
                  </div>
                </div>
              </form>
            </div>
            <div class="search-form-or"><strong>OR</strong></div>
            <div class="search-form">
              <form action="/sound_designers/<%= @designer.id %>">
                <input type="text" name="search" placeholder="<%= @search ? @search : 'Search by keyword' %>">
                <button type="submit" class="submit-button"><i class="fas fa-search"></i></button>
              </form>
            </div>
          </div>

          <hr id="search-hr">
          <div class="">
            <% if @sfx_packs.empty? && @category %>
              <h3>No packs for this category</h3>
            <% elsif @sfx_packs.empty? && @search %>
              <h3>No packs for this search</h3>
            <% elsif @sfx_packs.empty? %>
              <h3>No packs from this Designer</h3>
            <% end %>
            <%= render 'shared/pack_card' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
