<%= render 'shared/navbar_temp' %>
<div class="content">
  <div class="banner">
    <h1 class="padding-navbar">Create your own Collection !</h1>
    <button class="learn-more" id="learnMoreBtn">Learn more</button>
  </div>
  <div class="d-flex">
    <%= render "shared/left_pannel"%>
    <div class="template-section text-center">
      <% if !@templates.empty? %>    
        <% @templates.each do |template| %>
          <div class="template-card d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <div>
                <i class="fas fa-volume-up template-picks"></i>
              </div>
              <div>
                <p><%= template.title %></p>
                <p><%= template.price %></p>
                <p>Number of tracks: <%= template.tracks.size %></p>
                <p>Points: <%= template.total_points %></p>
              </div>
              <%= render 'shared/templates/collections_display', collection: template %>
            </div>
            <%= link_to 'Add to Cart', add_template_to_cart_path(template_id: template.id), id: 'btn-cart-show' %>
          </div>
        <% end %>
      <% else %>
        <h3>No collections at this time</h3>
      <% end %>
    </div>
  </div>
</div>