<% if session[:currency] != "$" %>
  <% conversion_rate = CurrencyRate.where("base = ? AND target = ?", "USD", "EUR").order(created_at: :desc).first.rate.to_f %>
<% else %>
  <% conversion_rate = 1 %>
<% end %>
<div class="packs-display template-display" style="visibility: hidden; position: relative" data-id="<%=collection.id%>" data-unwrap-cart-target="templateUnWrapped">
  <% if (collection.created_at.year - 2022) < 2 %>
    <%= image_tag asset_path("New_orange_transp_small.png"), style: "position: absolute; height: 62px; top:-26px; left: -26px; transform: rotate(-60deg)" %>
  <% end %>
  <div class="template-grid">
    <div class="d-flex">
      <i class="<%= @icons[collection.categories.first.to_sym].split('"')[1] %> template-icon-adjust"></i>
      <div class="d-flex flex-column">
        <div class="d-flex">
          <h3 class="template-title"> <strong><%= collection.title %></strong> </h3>
        </div>
        <div class="d-flex template-info">
          <h5><%= humanized_money(collection.price * conversion_rate, symbol: session[:currency]) %></h5><span class="template-track-count">/</span><h5><%= collection.tracks.count %> tracks</h5>
        </div>
      </div>
    </div>
    <div id="add-button" class="add-button-desktop">
      <%= link_to 'Add to Cart', add_template_to_cart_path(template_id: collection.id), id: 'btn-cart-show' %>
    </div>
    <div class="d-flex justify-content-end">
      <i class="fas fa-angle-up" data-action="click->unwrap-cart#templateWrap" data-id="<%=collection.id%>" id="collection-arrow"></i>
    </div>
  </div>
  <hr>
    <ul class="template-tracks-container">
      <% collection.tracks.each do |track_id| %>
        <% track = SingleTrack.find(track_id) %>
        <li class="template-tracks">
          <div class="template-track-wrapper">
            <div class="d-flex elements-position text-left">
              <span class="icon-adjust-cart"><%= sanitize @icons[track.category.to_sym] %></span>
              <span class="title-font pad-top-cart max-width-title-template" style="min-width: 125px;"><%= track.title %></span>
              <span class="info-icon-template max-width" id="<%= 'trackInfoBtn' if track.loop %>" style="<%= 'opacity: 0' if !track.loop %>" data-trackId="<%= "#{track.id}#{collection.id}" %>"><i class="fas fa-repeat"></i></span>
              <span class="info-icon-template template-max-width-icon" id="trackInfoBtn" data-trackId="<%= "#{track.id}#{collection.id}" %>"><i class="fas fa-info-circle"></i></span>
            </div>
            <div class="d-flex template-wave-section justify-content-between elements-position">
              <% if controller_name == 'carts' && action_name == 'cart'%>
                <div class="wave wave-cart" id="id<%= "#{track.id}#{collection.id}" %>" data-link="<%= track.preview_link %>">
                  <div id="loading_flag<%= "#{track.id}#{collection.id}" %>" class="loading-countdown"></div>
                </div>
              <% else %>
                <div class="wave collection-wave wave-index" id="id<%= "#{track.id}#{collection.id}" %>" data-link="<%= track.preview_link %>">
                  <div id="loading_flag<%= "#{track.id}#{collection.id}" %>" class="loading-countdown"></div>
                </div>
              <% end %>
              <p class="info-font pad-top-cart" id="trackDurationid<%= "#{track.id}#{collection.id}" %>"></p>
              <div class="play-button-desktop">
                <i class="far fa-play-circle pad-top-cart play-icon-margin cursor" id="playid<%= "#{track.id}#{collection.id}"%>"></i>
                <i class="far fa-pause-circle pad-top-cart play-icon-margin cursor" id="stopid<%= "#{track.id}#{collection.id}" %>" style="display: none"></i>
              </div>
            </div>
            <div class="d-flex justify-content-between template-wave-section elements-position">
              <span class="info-font points-cart" id="comingSoonBtn"><%= track.points%></span>
            </div>
            <!-- The Track Info Modal -->
            <div id="trackInfo" class="track-info-modal" data-modalTrackId="<%= "#{track.id}#{collection.id}" %>">
              <!-- Modal content -->
              <div id="trackContentInfo" class="track-info-modal-content" data-modalTrackContentId="<%= "#{track.id}#{collection.id}" %>">
                <div class="d-flex justify-content-between text-left">
                  <div class="track-info-modal-content-text">
                    <p><u>Loop:</u> <span class="modal-orange-text"><%= track.loop ? "Yes" : "No" %></span><i style="margin-left: 12px" class="fas fa-repeat <%= 'd-none' if !track.loop %>"></i></p>
                    <p><u>Title:</u> <span class="modal-orange-text" ><%= track.title %></span></p>
                    <p><u>Category:</u> <span class="modal-orange-text" ><%= track.category.capitalize %></span></p>
                    <p><u>Size:</u> <span class="modal-orange-text" ><%= track.size.to_i > 1_000_000 ? "#{track.size.to_i / 1_000_000} MB" : "#{track.size.to_i / 1_000} KB" %></span></p>
                    <p><u>Duration:</u> <span class="modal-orange-text" id="trackDurationModalid<%= "#{track.id}#{collection.id}" %>"></span></p>
                    <% if !track.sfx_pack_id.nil? %>
                      <p><u>Sound Effect Pack:</u> <span class="modal-orange-text" ><%= SfxPack.find(track.sfx_pack_id).title %></span></p>
                    <% end %>
                    <p><u>Bitrate:</u> <span class="modal-orange-text" ><%= track.bitrate %> bits</span></p>
                    <p><u>Sample rate:</u> <span class="modal-orange-text" ><%= (track.sample_rate.to_i / 1_000) %> kHz</span></p>
                    <% track.tags.first(8).each do |tag| %>
                      <span class="badge badge-secondary" style="font-size: 12px; margin-bottom: 4px"><%= tag %></span>
                    <% end %>
                  </div>
                  <div>
                    <span class="close" data-modalTrackCloseId="<%= "#{track.id}#{collection.id}" %>">&times;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

  <hr style="margin-bottom: 18px; margin-top: 24px">
  <div class="d-flex justify-content-end">
    <div class="d-flex sub-total">
      <div>PRICE</div>
      <div><%= humanized_money(collection.price * conversion_rate, symbol: session[:currency]) %></div>
    </div>
  </div>
  
</div>
<div class="packs-display packs-display-closed template-banner d-none" style="position: relative" data-id="<%=collection.id%>" data-unwrap-cart-target="templateWrapped">
  <% if (Date.today.year - collection.created_at.year) < 1 %>
    <%= image_tag asset_path("New_orange_transp_small.png"), style: "position: absolute; height: 62px; top:-26px; left: -26px; transform: rotate(-60deg)" %>
  <% end %>
  <div class="template-grid">
    <div class="d-flex">
      <i class="<%= @icons[collection.categories.first.to_sym].split('"')[1] %> template-icon-adjust"></i>
      <div class="d-flex flex-column">
        <div class="d-flex">
          <h3 class="template-title"> <strong><%= collection.title %></strong> </h3>
        </div>
        <div class="d-flex template-info">
          <h5><%= humanized_money(collection.price * conversion_rate, symbol: session[:currency]) %></h5><span class="template-track-count">/</span><h5><%= collection.tracks.count %> tracks</h5>
        </div>
      </div>
    </div>
    <div id="add-button" class="add-button-desktop">
      <%= link_to 'Add to Cart', add_template_to_cart_path(template_id: collection.id), id: 'btn-cart-show' %>
    </div>
    <div class="d-flex justify-content-end">
      <!-- ATTENTION: the action bellow needs redesigning. it always opens the first collection template-->
      <i class="fas fa-angle-down" data-action="click->unwrap-cart#templateWrap" data-id="<%=collection.id%>" id="collection-arrow"></i>
    </div>
  </div>
</div>
