<div style="margin-top: 26px"></div>
<div class="packs-display d-none" data-unwrap-cart-target="collectionUnwrapped">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <i class="fas fa-compact-disc cart-icon-adjust"></i>
      <h3 class="cart-sfx-packs-title"> <strong>COLLECTION</strong> </h3>
    </div>
    <div>
      <i class="fal fa-angle-up" data-action="click->unwrap-cart#wrap" id="collection-arrow"></i>
    </div>
  </div>
  <hr>
  <% if !@current_collections.empty? %>
    <% @current_collections.each_with_index do |collection, index| %>
      <% if collection.title.nil? %>
        <div class="container">
          <p>Your collection n°<%= index + 1 %></p>
        </div>
        <ul class="container">
        <% collection.tracks.each do |track| %>
          <li>
            <p><%= SingleTrack.find(track).title %></p>
          </li>
        <% end %>
        </ul>
      <% else %>
        <p><%= collection.title %></p>
        <ul>
          <% collection.tracks.each do |track| %>
            <li>
              <p><%= SingleTrack.find(track).title %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
  <hr>
  <div class="d-flex justify-content-end">
    <div class="d-flex sub-total">
      <div>SUB-TOTAL</div>
      <div><%= humanized_money_with_symbol @current_collections.first.price %>.00</div>
    </div>
  </div>
</div>

<div class="packs-display packs-display-closed" data-unwrap-cart-target="collectionWrapped">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <i class="fas fa-compact-disc cart-icon-adjust"></i>
      <div class="d-flex flex-column">
        <h3 class="cart-sfx-packs-title"> <strong>COLLECTION</strong> </h3>
        <h5>SUB-TOTAL <%= humanized_money_with_symbol @current_collections.first.price %>.00</h5>
      </div>
    </div>
    <div>
      <i class="fal fa-angle-down" data-action="click->unwrap-cart#wrap" id="collection-arrow"></i>
    </div>
  </div>
</div>