<h1>Congratulations <%= @designer.artist_name %></h1>
<h3>Your Sound Effect pack <%= @sfx_pack.title %> is now live 🎉</h3>

<p>Hi there,</p>

<p>First of all, thank you so much for contributing to this amazing community!</p>

<p>We obviously find that your work is of great quality and brings value to the BamSFX plateform!</p>

<p>We are therefore very happy to announce that your Sound Effects pack <strong><%= @sfx_pack.title %></strong> that you have submitted, has been approved and is now live 🚀</p>

<p>Thank you so much for your participation in this project!</p>

<p>— The BAMSFX Team</p>

<%= link_to sfx_pack_url(@sfx_pack) do %>
    <img src="<%= @sfx_pack.photos.first.url %>"
       width="320"
       style="display:block; max-width:320px;" />
<% end %>
