<%= render 'shared/navbar_general' %>
<div class="container padding-navbar">
  <h1><%= @pack.title %></h1>
  <p>Sound Designer: <%= link_to @designer_name, root_path %> </p>
  <% @pack.photos.each do |photo| %>
    <%= image_tag photo, height: 400 %>
  <% end %>
  <h2>Price: <%= humanized_money_with_symbol(@pack.price) %></h2>
  <p><%= link_to "link", @pack.link %></p>
  <% cut_link = @pack.link.split('/').last %>
  <% embed_link = "https://www.youtube.com/embed/#{cut_link}" %>
  <iframe width="640" height="360" src="<%= embed_link %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'pack_id', @pack.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>

  <%= form_tag cart_order_path do %>
    <%= hidden_field_tag 'pack_id', @pack.id %>
    <%= submit_tag 'Add to Cart', class: 'btn btn-primary' %>
  <%  end %>
</div>
