<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
    <%= render 'shared/back_cart_links' %>
  <div class="desktop">
    <%= render 'shared/desktop_pack_show' %>
  </div>
  <div class="tablet">
    <%= render 'shared/tablet_pack_show' %>
  </div>
  <%= render 'shared/tabs' %>
</div>
