<div class="container">
  <h1><%= @pack.title %></h1>
  <p>Sound Designer: <%= link_to @designer_name, root_path %> </p>
  <% @pack.photos.each do |photo| %>
    <%= image_tag photo, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h2>Price: <%= humanized_money_with_symbol(@pack.price) %></h2>

  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'pack_id', @pack.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>

  <%= form_tag cart_order_path do %>
    <%= hidden_field_tag 'pack_id', @pack.id %>
    <%= submit_tag 'Add to Cart', class: 'btn btn-primary' %>
  <%  end %>
</div>
