<% content_for :meta_title, @pack.title %>
<% content_for :meta_description, @pack.description %>
<% content_for :meta_image, @pack.photos.attached? ? url_for(@pack.photos.first) : image_url("https://res.cloudinary.com/dk9a86uhu/image/upload/v1695194012/sfx_shop/BamSFX_meta_vcgic4.png") %>

<div class="d-flex">
  <div style="margin-top: 56px">
    <%= render "shared/left_pannel_desktop"%>
  </div>
  <div class="container padding-navbar content">
      <%= render 'shared/back_cart_links' %>
    <div class="desktop">
      <%= render 'shared/desktop_pack_show' %>
    </div>
    <div class="tablet">
      <%= render 'shared/tablet_pack_show' %>
    </div>
    <%= render 'shared/tabs' %>
  </div>
</div>
