<% content_for :meta_title, @pack.title %>
<% content_for :meta_description, @pack.description %>
<% content_for :meta_image, @pack.photos.attached? ? url_for(@pack.photos.first) : image_url("https://res.cloudinary.com/dk9a86uhu/image/upload/v1695194012/sfx_shop/BamSFX_meta_vcgic4.png") %>
<%= render "shared/left_pannel_mobile"%>
<div class="d-flex">
  <%= render "shared/left_pannel_desktop"%>
  <div class="container padding-navbar content">
    <% if @discount %>
      <div>
        <div class="text-center"><%= image_tag asset_path('Promo_orange.png'), id: "sale-show-super-duper-small" %></div>
        <div class="text-center"><p id="sale-percentage-show-super-duper-small"><%= @discount %>%<br>OFF</p></div>
      </div>
    <% end %>

  <%= render 'shared/back_cart_links' %>
    <div class="desktop">
      <%= render 'shared/desktop_pack_show' %>
    </div>
    <div class="mobile-only">
      <%= render 'shared/desktop_pack_show' %>
    </div>
    <%= render 'shared/tabs' %>
  </div>
</div>
