<h1>Hello <%= @designer.artist_name %></h1>
<h3>Subject: You Made a Sale 🎉</h3>

<h4>Congratulations, you've just made a sale on <strong><a href="https://www.bamsfx.com">BamSFX.com</a></strong></h4>

<p>Order #<%= @sold_item.order.created_at.strftime("%Y%m%d%H%M") %>-<%= @sold_item.order.id %>-<%= @sold_item.id %></p>
<p>Item: <%= @sfx_pack.title %></p>
<p>Price: <%= humanized_money((@sold_item.amount_cents / 100.0), symbol: "#{CurrencySymbolService.lookup(@sold_item.currency)} ") %></p>
<% if @sold_item.discount %>
  <p>Discount: <%= @sold_item.discount_percentage %> % <em><small>(<%= @sold_item.discount_name %>)</small></em></p>
<% end %>
<p>Payout amount: <%= humanized_money((@sold_item.payout_amount_cents / 100.0), symbol: "#{CurrencySymbolService.lookup(@sold_item.payout_currency)} ") %></p>
<%= image_tag @sfx_pack.photos.first, width: 280 %>

<div style="margin-top: 12px"></div>

<p>If you have any questions, feel free to reply to this email. We are looking forward to hearing your work!</p>

<p>The BAMSFX Team</p>
