<% if @pack_list %>
  <div class="packs-display">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <i class="fal fa-box-open cart-icon-adjust"></i>
        <h3 class="cart-sfx-packs-title"> <strong>SFX PACKS</strong> </h3>
      </div>
      <div>
        <i class="fal fa-angle-down"></i>
      </div>
    </div>
    <% @pack_list.each do |pack| %>
    <hr>
        <div class="item-attributes">
          <div class="">
            <div id="wrapper">
              <%= link_to sfx_pack_path(pack) do %>
                <div class="cart-pack-img-container"><%= image_tag pack.photos[0], width: "150px", class: "pack_pic_cart" %></div>
                <div class="pop-up-cart">See Details</div>
              <% end %>
            </div>
          </div>
          <div class="cart-pack-display">
            <div><h3><%= pack.title %></h3></div>
            <div>
              <div class="d-flex">
                <div>
                  <% if @current_sales_list[pack.id] %>
                    <h3><strong class="price-color"><%= humanized_money_with_symbol pack.price * ((100 - @current_sales_list[pack.id]) / 100.to_f) %></strong></h3>
                  <% else %>
                    <h3><strong class="price-color"><%= humanized_money_with_symbol pack.price %></strong></h3>
                  <% end %>
                </div>
                <% if @current_sales_list[pack.id] %>
                  <div id="instead"><i>(instead of <%= humanized_money_with_symbol pack.price %>) - <%= @current_sales_list[pack.id]%>% OFF</i></div>
                <% end %>
              </div>
              <% if @current_sales_list[pack.id] %>
                <div id="instead-mobile"><i>(inst. of <%= humanized_money_with_symbol pack.price %>) - <%= @current_sales_list[pack.id]%>% OFF</i></div>
                <% end %>
            </div>
          </div>
          <div class="cart-form-remove">
            <%= form_tag remove_item_path do %>
              <%= hidden_field_tag 'pack_id', pack.id %>
              <%= button_tag(type: "submit", id: "cart-btn-remove") do %>
                  <i class="fal fa-times"></i>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="item-attributes-small">
          <div id="wrapper">
            <%= link_to sfx_pack_path(pack) do %>
              <div><%= image_tag pack.photos[0], width: "150px", class: "pack_pic_cart" %></div>
              <div class="pop-up-cart">See Details</div>
            <% end %>
          </div>
          <div><h3 id="pack-title-small"><%= pack.title %></h3></div>
          <div>
            <div class="d-flex justify-content-center">
              <div>
                <h3><strong class="price-color"><%= humanized_money_with_symbol pack.price * 0.8 %></strong></h3>
              </div>
              <div>
               <div id="instead"><i>(instead of <%= humanized_money_with_symbol pack.price %>) - <%= @current_sales_list[pack.id]%>% OFF</i></div>
               <div id="instead-mobile"><i>(inst. of <%= humanized_money_with_symbol pack.price %>) - <%= @current_sales_list[pack.id]%>% OFF</i></div>
              </div>
            </div>
          </div>
            <%= form_tag remove_item_path do %>
            <%= hidden_field_tag 'pack_id', pack.id %>
            <%= submit_tag 'Remove', id: 'btn-remove' %>
          <% end %>
          <div style="height: 20px;"></div>
          <hr>
        </div>
    <% end %>
    <hr>
    <div class="d-flex justify-content-end">
      <div class="d-flex sub-total">
        <div>SUB-TOTAL</div>
        <div><%= humanized_money_with_symbol @total_pack_sum %>,00</div>
      </div>
    </div>
  </div>
<% end %>

<% unless @tracks.nil? || @tracks == [] %>
  <div id="cart-paginate-desktop">
    <%= render 'shared/paginate_tracks' %>
  </div>
  <div id="cart-paginate-mobile" class="screen-display">
    <%= render 'shared/paginate_tracks_mobile' %>
  </div>
<% end %>

<% unless @current_collections.empty? %>
  <%= render 'shared/collections_display' %>
<% end %>