<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
  <div class="container">
    <div id="wrapper">
<!--
<div class="collection_wrapper">
  <div id="wrapper">
-->
    <%= link_to collection_template_path(collection) do %>
      <div class="" style="position: relative">
        <% if collection.image.attached? %>
          <%= image_tag collection.image, class: 'collection_pic' %>
        <% else %>
          <%= image_tag TemplateCollection.where(title: "Punch in the Face").first.image, class: 'collection_pic' %>
        <% end %>
        <% if collection.title == "2025 Action Collection" %>
          <div style="position: absolute; top: -25px; left: -25px">
            <%= image_tag "2025_pink.png", height: 120, width: 120 %>
          </div>
        <% end %>
      </div>
      <div class="collection-pop-up">See Details</div>
    <% end %>
  </div>
  <div>
    <div>
      <div class="card-body-pack">
        <div class="d-flex justify-content-between">
          <div class="tooltip-title">
            <h5 class="card-title fw-bold mb-1 truncate-title"><%= collection.title %></h5>
            <span class="tooltiptext-title"><%= collection.title %></span>
          </div>
        </div>
        <% size = collection.size_mb > 1000 ? "#{(collection.size_mb / 1000.to_f).ceil(1)} GB" : "#{collection.size_mb} MB" %>
        <p class="card-text text-muted"><%= size %> • <%= collection.number_of_tracks %> Sounds</p>
      </div>
    </div>
    <div class="card-body-pack d-flex justify-content-between border-top align-items-center py-3">
      <strong class="fw-semibold mb-0" style="font-size: 1.2rem"><%= humanized_money_with_symbol(collection.price) %></strong>
      <div class="d-flex">
        <%= link_to 'Add to Cart', add_template_to_cart_path(template_id: collection.id), class: "btn btn-teal btn-sm text-white add-to-cart-hover", style: "background-color: #0d9488; margin-left: 8px" %>
      </div>
    </div>
  </div>
</div>
</div>