<div class="slideshow-container">
  <div>
    <% if @current_sales_list != {} %>
      <%= image_tag asset_path('Promo_sale.png'), id: "promo20" %>
      <%= image_tag asset_path('x-mas.png'), id: "seasonal-promo", class: "d-none" %>
    <% else %>
      <%= image_tag asset_path('Promo20_2.png'), id: "promo20" %>
      <%= image_tag asset_path('x-mas.png'), id: "seasonal-promo", class: "d-none" %>
    <% end %>
  </div>

  <section id="scroll-down">
    <a href="#front-title"><span></span></a>
  </section>

  <div class="">
    <img class="slideshow-images" src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081625/carousel/forest-931706_1920_hywbfq.jpg">
    <div class="collection-banner-content">
      <div><span id="create-your-collection">Create Your Collection!!!</span></div>
      <div data-controller="video-modal">
        <div id="collection-video-btn" data-video-modal-target="button" data-action="click->video-modal#openModal">
          Watch video &nbsp<i class="fas fa-play"></i>
        </div>  
        <!-- The Modal -->
        <div data-video-modal-target="videoModal" class="video-modal">

          <!-- Modal content -->
          <!--  <span class="video-modal-close" data-video-modal-target="close" data-action="click->video-modal#closeModal">&times;</span> -->
          <div class="video-modal-content">
            <iframe width="840" height="472" src="https://www.youtube.com/embed/X9utcnnj9Mo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            <div class="d-flex justify-content-between video-modal-buttons">
              <button></button>
              <%= link_to "Create Your Collection Now", list_path, id: "tracks" %>
              <button id="close" data-video-modal-target="close" data-action="click->video-modal#closeModal">Close</button>
            </div>
          </div>
       
        </div>

      </div>
    </div>
  </div>

</div>
