<% total_tracks_price = 0 %>
<% order.tracks.each { |track| total_tracks_price += (SingleTrack.find(track).price_cents / 100.to_f) } %>

<div data-controller="collection-checkout-modal">
  <div class="">
    <div class="d-flex">
      <i class="fas fa-headphones checkout-icon-adjust"></i>
      <div class="d-flex flex-column justify-content-center">
        <div style="font-weight: 500; font-size: 1.2rem">
          <h4 id="title-collection"><%= order.tracks.count %> individual tracks</h4>
          <h5 id="price-pack">Price: <%= humanized_money_with_symbol(total_tracks_price) %></h5>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center list-tracks-modal-button-wrapper">
      <button id="list-tracks-modal-button" style="margin: 0"
              data-collection-checkout-modal-target="button"
              data-action="click->collection-checkout-modal#modalDisplay">
        List of tracks
      </button>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-center">
        <% if SolidQueue::Job.where(class_name: "ZipCollectionJob").any? { |job| job.arguments["arguments"][0]["type"] == "single_tracks" && job.arguments["arguments"][0]["order"].to_i == order.id } && (!order.download_links.where(collection_download: false).present? || order.download_links.where(collection_download: false).last.expired?) %>
          <div class="loader"></div>
        <% elsif order.download_links.where(collection_download: false).present? && !order.download_links.where(collection_download: false).last.expired? %>
          <a href="<%= order.download_links.where(collection_download: false).last.url %>"
             id="btn-download-collection"
             data-controller="delete-job"
             data-action="click->delete-job#delete"
             data-delete-job-job-id-value="<%= order.download_links.where(collection_download: false).last.job_id %>">
            Click to download
          </a>
        <% else %>
          <%= link_to "Get Download Link", create_zip_collection_path(tracks: order.tracks, type: "single_tracks", order: order), id: "btn-download-get-link", data: { action: "click->collection-checkout-modal#download"} %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Collection List Modal -->
  <div id="collectionModal" class="track-list-modal" data-collection-checkout-modal-target="collectionModal">
    <!-- Modal content -->
    <div class="collection-modal-content">
      <div class="d-flex justify-content-between">
        <h3>List of tracks</h3>
        <span class="close"
              data-collection-checkout-modal-target="close"
              data-action="click->collection-checkout-modal#modalClose">&times;
        </span>
      </div>
      <hr>
      <% order.tracks.each do |track| %>
        <% displayed_track = SingleTrack.find(track) %>
        <div class="grid-display-list">
          <div><%= sanitize SingleTrack.categories[displayed_track.category.to_sym].to_s %></div>
          <div><%= displayed_track.title %> (<%= humanized_money_with_symbol(displayed_track.price) %>)</div>
          <div><%= link_to "Download", download_single_path(url: SingleTrack.find(track).link, title: SingleTrack.find(track).title) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
