<div data-controller="collection-checkout-modal">
  <div class="dashboard-collection-grid">
    <div class="d-flex">
      <i class="fas fa-compact-disc checkout-icon-adjust"></i>
      <div class="d-flex flex-column justify-content-center">
        <div style="font-weight: 500; font-size: 1.2rem">Collection of <%= collection.tracks.count %> tracks for <%= humanized_money(collection.price, symbol: session[:currency]) %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button id="list-tracks-modal-button" style="margin: 0"
              data-collection-checkout-modal-target="button"
              data-action="click->collection-checkout-modal#modalDisplay">
        List of tracks
      </button>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-end">
        <% if SolidQueue::Job.where(class_name: "ZipCollectionJob").any? { |job| job.arguments["arguments"][0]["collection"].present? && job.arguments["arguments"][0]["order"].to_i == order.id } && (!collection.download_links.present? || collection.download_links.last.expired?) %>
          <div class="loader"></div>
        <% elsif collection.download_links.present? && !collection.download_links.last.expired? %>
          <a href="<%= collection.download_links.last.url %>"
             id="btn-download-collection"
             data-controller="delete-job"
             data-action="click->delete-job#delete"
             data-delete-job-job-id-value="<%= collection.download_links.last.job_id %>">
            Click to download
          </a>
        <% else %>
          <%= link_to "Get Download Link", create_zip_collection_path(collection: collection, order: order), id: "btn-download-get-link", data: { action: "click->collection-checkout-modal#download"} %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- Collection List Modal -->
  <div id="collectionModal" class="track-list-modal" data-collection-checkout-modal-target="collectionModal">
    <!-- Modal content -->
    <div class="collection-modal-content">
      <div class="d-flex justify-content-between">
        <h3>List of tracks in your Collection</h3>
        <span class="close"
              data-collection-checkout-modal-target="close"
              data-action="click->collection-checkout-modal#modalClose">&times;
        </span>
      </div>
      <hr>

        <% collection.tracks.each do |track| %>
          <% displayed_track = SingleTrack.find(track) %>
          <div class="grid-display-list">
            <div><%= sanitize SingleTrack.categories[displayed_track.category.to_sym].to_s %></div>
            <div><%= displayed_track.title %></div>
            <div><%= link_to "Download", download_single_path(url: SingleTrack.find(track).link, title: SingleTrack.find(track).title) %></div>
          </div>
        <% end %>

    </div>
  </div>

  <!-- Download will start modal -->
  <div class="download-modal" data-collection-checkout-modal-target="downloadModal">
    <div class="download-modal-content">
      <div class="d-flex justify-content-between" id="zipping-modal-text">
        <p data-collection-checkout-modal-target="modalText">
          Zipping File: Your download link will be ready shortly
        </p>
        <span class="close"
          data-collection-checkout-modal-target="close"
          data-action="click->collection-checkout-modal#downloadModalClose">&times;
        </span>
      </div>
      <div class="d-flex justify-content-center">
        <div data-collection-checkout-modal-target="loading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
</div>
