<% total_pack_price = 0 %>

<% order.packs.each_with_index do |pack, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <% if index.positive? %>
        <div class="d-flex">
          <div><%= image_tag SfxPack.find(pack).photos[0], width: "120px" %></div>
          <div class="d-flex flex-column justify-content-center pack-details" style="text-align: left">
          <h5><%= SfxPack.find(pack).title %></h5>
            <% if order.sales != {} %>
              <% if order.sales[pack.to_s] %>
                <h5 id="price-pack">Price:  <strong> <%= humanized_money_with_symbol SfxPack.find(pack).price * (1 - order.sales[pack.to_s][order.sales[pack.to_s].keys.first] / 100.to_f) %> </strong> <span id="instead-dashboard"> <i> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>) - <%= order.sales[pack.to_s][order.sales[pack.to_s].keys.first] %> % OFF </i> </span> </h5>
                <h5 id="instead-under"> <i> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>) - <%= order.sales[pack.to_s][order.sales[pack.to_s].keys.first] %> % OFF </i> </h5>
              <% else %>
                <h5 id="price-pack">Price: <strong> <%= humanized_money_with_symbol SfxPack.find(pack).price %> </strong> </h5>
              <% end %>
            <% else %>
              <% if index.positive? %>
                <h5 id="price-pack">Price: <strong> <%= humanized_money_with_symbol SfxPack.find(pack).price * 0.8 %> </strong> <span id="instead-dashboard"> <i> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>) </i> </span> </h5>
                <h5 id="instead-under"> <i>(instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>)</i> </h5>
              <% else %>
                <h5 id="price-pack">Price: <strong> <%= humanized_money_with_symbol SfxPack.find(pack).price %> </strong> </h5>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="d-flex">
          <div><%= image_tag SfxPack.find(pack).photos[0], width: "120px" %></div>
          <div class="d-flex flex-column justify-content-center pack-details" style="text-align: left">
          <h5><%= SfxPack.find(pack).title %></h5>
            <% if order.sales != {} && order.sales[pack.to_s] %>
              <h5 id="price-pack">Price:  <strong> <%= humanized_money_with_symbol SfxPack.find(pack).price * (1 - order.sales[pack.to_s][order.sales[pack.to_s].keys.first] / 100.to_f) %> </strong> <span id="instead-dashboard"> <i> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>) - <%= order.sales[pack.to_s][order.sales[pack.to_s].keys.first] %> % OFF </i> </span> </h5>
              <h5 id="instead-under"> <i> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>) - <%= order.sales[pack.to_s][order.sales[pack.to_s].keys.first] %> % OFF </i> </h5>
            <% else %>
              <h5 id="price-pack">Price: <strong> <%= humanized_money_with_symbol SfxPack.find(pack).price %> </strong> </h5>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>  
    <div id="download-buttons-next" class="d-flex flex-column justify-content-center mt-3">
      <% sfx_pack = SfxPack.find(pack) %>
      <% if sfx_pack.product_link.split(',').count == 1 %>
        <div>
          <p> <%=  link_to "Download Pack", sfx_pack.product_link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
          <p> <%=  link_to "Download", sfx_pack.product_link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
        </div>
      <% elsif sfx_pack.product_link.split(',').count == 2 %>
        <div>
          <% pack_links = sfx_pack.product_link.split(',') %>
          <% pack_links.each_with_index do |link, index| %>
            <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
            <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
          <% end %>
        </div>
      <% elsif sfx_pack.product_link.split(',').count == 3 %>
        <div>
          <% pack_links = sfx_pack.product_link.split(',') %>
          <% pack_links.each_with_index do |link, index| %>
            <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
            <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
          <% end %>
        </div>
      <% else %>
        <div>
          <% pack_links = sfx_pack.product_link.split(',') %>
          <% pack_links.each_with_index do |link, index| %>
            <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
            <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
