<div class="footer <%= 'footer-margin-bottom-mobile' unless controller_name == "sessions" || controller_name == "registrations" || controller_name == "passwords" || controller_name == "payments" %>">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column justify-content-center">
      <p id="copyright">Designed by <a href="https://github.com/OGsoundFX" target="_blank">Olivier Girardot</a> <br> <span id="copyright-text">Copyright © <%= Date.today.year %> OGSoundFX - All Rights Reserved</span> </p>
      <div style="text-align: center"><%= link_to "Data protection", data_protection_path %></div>
    </div>

    <div class="footer-links d-flex justify-content-center">
      <a href="https://assetstore.unity.com/publishers/39771" target="_blank"><%= image_tag asset_path('logo/unity.png'), id: "unity-icon-size" %></a>
      <a href="https://www.unrealengine.com/marketplace/en-US/profile/OlivierGirardot" target="_blank"><%= image_tag asset_path('logo/unreal.png'), id: "unreal-icon-size" %></a>
      <a href="https://www.youtube.com/ogsoundfx" target="_blank"><i class="fab fa-youtube-square" id="youtube"></i></a>
    </div>

    <div>
      <p id="contact-info"><a href="mailto:support@bamsfx.com" target="_blank">Contact us!<br>
      <i class="fas fa-envelope"></i></a></p>
    </div>
  </div>
  <div>
    <p id="designed_by_mobile">Designed by <a href="https://github.com/OGsoundFX" target="_blank">Olivier Girardot</a></p>
    <p id="copyright-mobile">Copyright © <%= Date.today.year %> OGSoundFX - All Rights Reserved</p>
    <p id="contact-info-mobile"><a href="mailto:support@bamsfx.com" target="_blank">Contact us! <i class="fas fa-envelope"></i></a></p>
  </div>
</div>
