<!-- <div class="d-none">  -->
  <div class="left-pannel d-flex justify-content-center">
    <div class="d-flex flex-column text-center">
      <%= link_to root_path do %>
        <div class="left-pannel-icon <%= request.path == '/' ? 'pannel-active' :  'pannel-links' %>">
          <i class="fal fa-box"></i>
          <p>PACKS</p>
        </div>
      <% end %>
      <%= link_to list_path do %>
        <div class="left-pannel-icon <%= request.path == '/list' ? 'pannel-active' :  'pannel-links' %>">
          <i class="fal fa-volume-up"></i>
          <p style="margin-left: -3px">TRACKS</p>
        </div>
      <% end %>
      <%= link_to collection_templates_path do %>
        <div class="left-pannel-icon <%= request.path == '/collection_templates' ? 'pannel-active' :  'pannel-links' %>">
          <i class="fal fa-layer-group"></i>
          <p style="font-size: 0.6rem; margin-left: -8px">COLLECTIONS</p>
        </div>
      <% end %>
      <div class="left-pannel-icon">
        <div style="position: relative">
          <i style="opacity: 0.5" class="fal fa-heart"></i>
          <p style="font-size: 0.6rem; margin-left: -8px; opacity: 0.5">FAVORITE</p>
          <%= image_tag asset_path("soon.png"), style: "position: absolute; height: 32px; top:-14px; left: -14px; transform: rotate(-28deg)" %>
        </div>
      </div>
      <div class="left-pannel-icon">
        <div style="position: relative">
          <i style="opacity: 0.5" class="fal fa-comments"></i>
          <p style="font-size: 0.6rem; margin-left: -8px; opacity: 0.5">COMMUNITY</p>
          <%= image_tag asset_path("soon.png"), style: "position: absolute; height: 32px; top:-14px; left: -14px; transform: rotate(-28deg)" %>
        </div>
      </div>
    </div>
  </div>
<!-- </div>  -->
