  <div class="mb-5 pack-box">
    <div class="pic-price">
        <div class="d-flex justify-content-between">
          <h1 class="pack-title"><%= @pack.title %></h1>
          <div>
            <% if @discount %>
              <div>
                <div>
                  <h1 id="price-sale"><%= humanized_money_with_symbol(@pack.price * ((100 - @discount) / 100.to_f)) %></h1>
                </div>
                <div>
                  <h4 id="price-barred-show" > <strike><%= humanized_money_with_symbol(@pack.price) %></strike> </h4>
                </div>
              </div>
            <% else %>
              <h1 id="price"><%= humanized_money_with_symbol(@pack.price) %></h1>
            <% end %>
          </div>

        </div>
      <% @pack.photos.each do |photo| %>
        <div style="margin: auto; text-align: center">
          <%= image_tag photo %>
        </div>
      <% end %>

      <% if @discount %>
        <div><%= image_tag asset_path('Promo_orange.png'), id: "sale-show" %>
          <p id="sale-percentage-show"><%= @discount %>%<br>OFF</p>
        </div>
      <% end %>

    </div>
    <div class="description-box d-flex flex-column justify-content-between">
      <div>
        <p>Sound Designer: <%= link_to @designer_name, about_path %> </p>
        <ul>
          <li>
            <% if @pack.size_mb >= 1000  %>
              <%= @pack.size_mb / 1000.to_f %> GB
            <% else %>
              <%= @pack.size_mb %> MB
            <% end %>
          </li>
          <li><%= @pack.duration %> minutes</li>
          <li><%= number_with_delimiter @pack.number_of_tracks %> tracks</li>
          <li>48 kHz / 24bit / Stereo WAV files</li>
          <li><%= link_to "List of Sounds", @pack.sound_list.url, target: :_blank %></li>
          <li>Version: <%= @pack.version %></li>
          <li id='pack-description'>Description: <%= @pack.description %></li>
        </ul>
      </div>
      <div class="cart-or-buy-buttons">
        <% if @pack.sku.include?("FS") %>
          <div class="d-flex align-items-center">
            <%= button_to "Download", @pack.product_link, method: :get, id: 'btn-download', class: 'ml-4' %>
          </div>
        <% else %>
          <div class="d-flex justify-content-between">
            <div>
            <%= form_tag orders_path do %>
              <%= hidden_field_tag 'pack_id', @pack.id %>
              <%= submit_tag 'Buy now', id: 'purchase-btn' %>
            <% end %>
            </div>
            <div>
              <%= form_tag cart_order_path do %>
                <%= hidden_field_tag 'pack_id', @pack.id %>
                <%= submit_tag 'Add to Cart', id: 'btn-cart-show' %>
              <%  end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
