<!-- DESKTOP VIEW -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-burger-desktop">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="d-flex">
        <div><%= image_tag asset_path('logo/logo_BAM_5.png') %></div>
        <div id="text-logo">Sound Effects</div>
        <div id="text-logo-small">SFX</div>
      </div>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-center">
  </div>

  <div class="navbar-right collapse navbar-collapse" id="navbarSupportedContent">
    <ul style="align-items: center;" class="navbar-nav mr-auto">
      <% if current_user && current_user.admin %>
        <li class="nav-item dropdown">
          <%= link_to "R-admin", rails_admin_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Admin", admin_path, class: "nav-link text-white" %>
        </li>
      <% end %>
      <% unless user_signed_in? && current_user.admin? %>
        <% if !user_signed_in? || (!current_user.designer_submission.present? && !current_user.sound_designer.present?) %>
          <li class="nav-item dropdown">
            <%= link_to "Become a Seller", new_sound_designer_path, class: "btn btn-secondary", id: "nav-item-become-seller" %>
          </li>
        <% elsif user_signed_in? && current_user.designer_submission.present? && current_user.designer_submission.submited? %>
          <li class="nav-item dropdown">
            <div class="btn btn-secondary seller-submission-pending">Seller submission Pending</div>
          </li>
        <% elsif user_signed_in? && current_user.designer_submission.present? && current_user.designer_submission.profile_created? %>
          <li class="nav-item dropdown"> 
            <%= link_to "Seller submission incomplete âš ï¸", designer_submission_path(current_user.designer_submission.access_token), class: "btn btn-warning" %>
          </li>
        <% elsif user_signed_in? && current_user.designer_submission.present? && current_user.designer_submission.accepted? && !current_user.sound_designer.present? %>
            <%= link_to "Seller submission Accepted! ðŸŽ‰", new_sound_designer_path, class: "btn btn-secondary btn-admin-active" %>
        <% end %>
      <% end %>
      <% if current_user %>
        <li class="nav-item dropdown">
          <%= image_tag asset_path("logo/avatar.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", "data-bs-toggle": "dropdown", 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if current_user.sound_designer.present? %>
              <%= link_to "Seller Dashboard", designer_listings_path, class: "dropdown-item seller" %>
            <% elsif current_user.designer && current_user.designer_submission.accepted? %>
              <%= link_to "Create Seller Profile", new_sound_designer_path, class: "dropdown-item seller" %>
            <% end %>
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to cart_path do %>
              <div class="dropdown-item">
                Your Cart <%= "(#{current_user.cart.items.count + current_user.cart.sinlge_tracks.count + current_user.cart.collections.count})" if current_user.cart %>
              </div>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item log-out" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <%= link_to "Login", new_user_session_path, class: "btn btn-secondary ms-3" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- MOBILE VIEW -->
<div class="navbar navbar-light navbar-lewagon navbar-burger-mobile">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex">
      <div><%= image_tag asset_path('logo/logo_BAM_5.png') %></div>
      <div id="text-logo">Sound Effects</div>
      <div id="text-logo-small">SFX</div>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-burger-mobile collapse navbar-collapse" id="navbarSupportedContent">
    <ul style="align-items: center;" class="navbar-nav mr-auto">
      <% if current_user && current_user.admin %>
        <li class="nav-item">
          <%= link_to "R-admin", rails_admin_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Admin", admin_path, class: "nav-link text-white" %>
        </li>
      <% end %>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Seller Dashboard", designer_listings_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <%= link_to "Your Cart", cart_path, class: "nav-link text-white" %>
          <% if current_user.cart %>
            <%= link_to "(#{current_user.cart.items.count + current_user.cart.sinlge_tracks.count + current_user.cart.collections.count})", cart_path, class: "nav-link text-white", id:"cart-count"%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Become a Seller", new_sound_designer_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>