<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex">
      <div><%= image_tag asset_path('logo/logo_BAM_2.png') %></div>
      <br>
      <div id="text-logo">Sound Effects</div>
      <div id="text-logo-small">SFX</div>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Eula", eula_path, class: "nav-link text-white" %>
      </li>
      <% if current_user %>
        <li class="nav-item dropdown">
          <%= image_tag asset_path("logo/avatar.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <div class="d-flex">
              <div>
                <%= link_to "Your Cart", cart_path, class: "dropdown-item"%>
              </div>
              <div>
                <% if current_user.cart && current_user.cart.items.count %>
                  <%= link_to "(#{current_user.cart.items.count})", cart_path, class: "dropdown-item", id:"cart-count"%>
                <% end %>
              </div>
            </div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
