<div class="slideshow-container">

  <% if session[:subscribed] != true && (@status == "Not Subscribed" || @status == "unsubscribed") || session[:modal_closed] %>
    <% if @status == "unsubscribed" %>
      <div id="subscribe-btn" class="<%= 'd-none' if session[:modal_closed].nil? %> <%= 'd-none' if session[:modal_closed] == false %>">
        <%= link_to "Subscribe to our newsletter", subscribe_path %>
      </div>
    <% end %>
  <% end %>

  <button id="subscribe-btn" class="<%= 'd-none' if session[:modal_closed].nil? %> <%= 'd-none' if session[:modal_closed] == false %> <%= 'd-none' if session[:subscribed] %> <%= 'd-none' if !@status.nil? %>" data-action="click->open-subscribe-modal#open" data-open-subscribe-modal-target="button">Subscribe to our newsletter</button>

  <div id="subscribe-form" class="d-none" data-open-subscribe-modal-target="subscribeForm">
    <div class="d-flex">
      <%= simple_form_for :email, url: subscribe_no_user_path do |f| %>
        <%= hidden_field_tag 'subscribed', true %>
        <div class="d-flex justify-content-between subscribe-field">
          <div>
            <%= f.input :email, label: false, placeholder: "Enter your email here", required: true %>
          </div>
          <div>
            <%= f.button :submit, 'Subscribe', id: 'subscribe', class: 'btn btn-primary', data: { action: "click->open-subscribe-modal#close" } %>
          </div>
        </div>
      <% end %>
      <div class="close" data-action="click->open-subscribe-modal#close" id="close-subscribe">&times;</div>
    </div>
  </div>

  <section id="scroll-down">
    <a href="#next-section"><span></span></a>
  </section>

  <div>
    <div class="slideshow-images carousel slide" style="opacity: 1">
      <div class="home-page__carousel-slides">
        <div>
          <div class="collection-banner-content">
            <div class="collection-banner-text">
              <div id="create-your-collection">Every great story</div>
              <div id="create-your-collection">deserves the right sound</div>
            </div>
          </div>
          <div>
            <% if @current_sales_list != {} %>
              <%= image_tag asset_path('Promo_sale.png'), id: "promo20" %>
              <%= image_tag asset_path('x-mas.png'), id: "seasonal-promo", class: "d-none" %>
            <% else %>
              <%= image_tag asset_path('Promo20_2.png'), id: "promo20" %>
              <%= image_tag asset_path('x-mas.png'), id: "seasonal-promo", class: "d-none" %>
            <% end %>
          </div>
          <img src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1631081625/carousel/forest-931706_1920_hywbfq.jpg" class="d-block w-100" alt="Browse our packs and save 20% off the second pack and all following packs">
        </div>
      </div>
    </div>
  </div>
</div>
