<% @orders.each do |order| %>
  <% collection = Collection.find(order.collections.first) if order.collections != [] %>
  <% @tracks = order.tracks %>
  <div class="packs-display" style="margin-bottom: 16px; padding: 20px 0">
    <h3 id="order-space-under-title">Order from <%= order.created_at.strftime("%B #{order.created_at.day.ordinalize} %Y") %> </h3>
    <div>
      <hr class="mb-3">
      <% if order.packs == [] && order.collections == [] && order.tracks == [] %>
        <div class="pack-payment-checkout">
          <%= render 'shared/dashboard_single_pack', order: order %>
        </div>
      <% end %>
      
      <% if order.packs != [] %>
        <div class="pack-payment-checkout">
          <%= render 'shared/dashboard_packs', order: order %>
        </div>
      <% end %>

      <div class="collection-payment-checkout">
        <% if !collection.nil? %>
          <% if order.packs != [] %>
            <hr>
          <% end %>
          <%= render 'shared/dashboard_collection_tracks', collection: collection, order: order %>
        <% end %>
      </div>

      <div class="tracks-payment-checkout">
        <% if order.tracks != [] %>
          <% if !collection.nil? || order.packs != [] %>
            <hr>
          <% end %>
          <%= render 'shared/dashboard_single_tracks', order: order %>
        <% end %>
      </div>
    </div>

    <hr>
    <div class="d-flex justify-content-start mt-4" style="padding: 0 42px">
      <div class="total-dashboard" >
        <p style="margin-bottom: 0">Total order value: <strong><%= humanized_money(order.amount_cents.to_f / 100, symbol: session[:currency]) %></strong></p>
        <div class="d-flex justify-content-between dashboard-vat-display">
          <div>VAT (7% inclusive)</div><div><%= humanized_money((((order.amount_cents.to_f / 100)/1.07) * 0.07), symbol: session[:currency]) %></div>
        </div>
        <% if order.coupon %>
          <p>Total amount paid: <strong><%= humanized_money(order.amount_paid_cents.to_f / 100, symbol: session[:currency]) %></strong> </p>
          <% coupon_array = order.coupon.split(',') %>
          <% if coupon_array[1].strip == "Percentage" %>
            <% coupon_value = "#{coupon_array[2].to_i}%" %>
          <% else %>
            <% coupon_value = humanized_money(coupon_array[2].to_i / 100, symbol: session[:currency]) %>
          <% end %>
          <p>Coupon code: <strong> <%= coupon_array[0].upcase %> </strong>(<%= coupon_value %>)</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
