<div class="row">
  <% @sfx_packs.each do |pack| %>
    <% unless pack.title == 'Single Tracks' %>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="pack_specifics">
          <div id="wrapper">
            <%= link_to sfx_pack_path(pack) do %>
              <% if pack.announcement %>
                <div id="triangle"></div>
                <div id="announcement"> <%= pack.announcement %> </div>
              <% end %>
              <div class="pack_pic_wrapper"><%= cl_image_tag pack.photos.first.key, class: 'pack_pic' %></div>

              <% if @current_sales_list != {} %>
                <% if @current_sales_list[pack.id]  %>
                  <div><%= image_tag asset_path('Promo_orange.png'), id: "sale" %>
                    <p id="sale-percentage"><%= @current_sales_list[pack.id] %>%<br>OFF</p>
                  </div>
                <% end %>
              <% end %>
              <div class="pop-up">See Pack Details</div>
            <% end %>
          </div>
          <div>
            <div class="card-body-pack-info">
              <div class="d-flex justify-content-between">
                <div class="tooltip-title">
                  <h5 class="card-title fw-bold mb-1 truncate-title"><%= pack.title %></h5>
                  <span class="tooltiptext-title"><%= pack.title %></span>
                </div>
                <div>
                  <% if pack.average_rating %>
                    <%= pack.average_rating %> <i class="fas fa-star"></i>
                  <% else %>
                    <small><em>No rating</em></small>
                  <% end %>
                </div>
              </div>
              <% size = pack.size_mb > 1000 ? "#{(pack.size_mb / 1000.to_f).ceil(1)} GB" : "#{pack.size_mb} MB" %>
              <p class="card-text text-muted" style="font-size: 0.9rem"><%= size %> • <%= pack.number_of_tracks %> Sounds</p>
            </div>
          </div>

          <div class="card-body-pack-price border-top py-2 d-flex justify-content-between align-items-center text-muted small">
            <div class="d-flex align-items-center">
              <% if pack.sound_designer.photo.attached? %>
                <%= cl_image_tag pack.sound_designer.photo.key, alt: "#{pack.sound_designer.full_name}", class: "rounded-circle pack_card__designer_pic" %>
              <% else %>
                <i class="fas fa-headphones pack_card__designer_no_pic"></i>
              <% end %>
              <span style="margin-left: 8px; font-size: 0.9rem"><%= pack.sound_designer.full_name %></span>
            </div>
          </div>

          <div class="card-body-pack-price d-flex justify-content-between align-items-center">
            <% if @current_sales_list[pack.id] %>
              <div class="d-flex align-items-end">
                <div>
                  <strong class="fw-semibold mb-0" style="font-size: 1.4rem"><%= humanized_money(pack.price * ((100 - @current_sales_list[pack.id]) / 100.to_f), symbol: session[:currency]) %></strong>
                </div>
                <div style="margin: 2px 4px">
                  <strike><%= humanized_money(pack.price, symbol: session[:currency]) %></strike>
                </div>
              </div>
            <% else %>
              <strong class="fw-semibold mb-0" style="font-size: 1.4rem"><%= humanized_money(pack.price, symbol: session[:currency]) %></strong>
            <% end %>
            <div class="d-flex">
              <%= link_to "Details", sfx_pack_path(pack), class: "btn btn-outline-secondary btn-sm" %>
              <%= form_tag cart_order_path do %>
                <%= hidden_field_tag 'pack_id', pack.id %>
                <% if pack.sku.include?("FS") %>
                  <%= button_to "Download", pack.product_link, method: :get, class: "btn text-white btn-sm ml-2", style: "background-color: #ff00fe;" %>
                <% else %>
                  <%= submit_tag 'Add to Cart', class: "btn btn-teal btn-sm text-white add-to-cart-hover", style: "background-color: #0d9488; margin-left: 8px" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


