<div class="d-flex justify-content-between">
  <p class="results-font-size">Total results: <strong><%= number_with_delimiter(@tracks.total_count, :delimiter => ',') %></strong> (<em><%= @tracks.total_pages %> <%= "page".pluralize(@tracks.total_pages) %></em>)</p>
  <%= paginate @tracks, class: "paginator-top" %>
</div>
<ul>
  <% @tracks.each do |track| %>
  <li class="border">
    <div class="wrapper">
      <div class="d-flex justify-content-start elements-position">
        <span class="icon-adjust"><%= sanitize @icons[track.category.to_sym] %></span>
        <span class="title-font pad-top max-width"><%= track.title %></span>
        <span class="info-icon max-width" id="trackInfoBtn" data-trackId="<%= track.id %>"><i class="fas fa-info-circle"></i></span>
        <% if track.announcement == "new_release" %>
          <%= image_tag asset_path("New_green_transp_small.png"), id: "new-release-track" %>
        <% elsif track.announcement == "popular" %>
          <%= image_tag asset_path("Popular.png"), id: "new-release-track" %>
        <% end %>
      </div>
      <div class="d-flex wave-section elements-position">
        <% if controller_name == 'carts' && action_name == 'cart'%>
          <div class="wave wave-cart" id="id<%= track.id %>" data-link="<%= track.preview_link %>">
            <div id="loading_flag<%= track.id %>" class="loading-countdown"></div>
          </div>
        <% else %>
          <div class="wave wave-index" id="id<%= track.id %>" data-link="<%= track.preview_link %>">
            <div id="loading_flag<%= track.id %>" class="loading-countdown"></div>
          </div>
        <% end %>
        <p class="info-font pad-top" id="trackDurationid<%= track.id %>"></p>
        <i class="far fa-play-circle pad-top play-icon-margin cursor" id="playid<%= track.id %>"></i>
        <i class="far fa-pause-circle pad-top play-icon-margin cursor" id="stopid<%= track.id %>" style="display: none"></i>
      </div>
      <div class="d-flex justify-content-between wave-section elements-position">
        <span class="info-font pad-top">
        <% if humanized_money_with_symbol(track.price).include?(".") %>
          <%= humanized_money_with_symbol(track.price) %>
        <% else %>
          <%= humanized_money_with_symbol(track.price) %>.00
        <% end %>
        </span>
        <span class="info-font points" id="comingSoonBtn"><%= track.points%></span>
        <!-- <i class="far fa-heart pad-top" id="comingSoonBtn"></i>
        <i class="fas fa-heart pad-top d-none"></i> -->
      </div>
      <div class="d-flex justify-content-center purchase-section"
           data-controller="icon-toggle">
        <%# <i class="far fa-layer-plus pad-top purchase-icons" id="comingSoonBtn"></i> %>
        <% if !@collection.nil? && @collection.tracks.include?(track.id) %>
          <%= link_to collection_path(@collection, track: track), method: :patch, data: {action: "icon-toggle#toggleIcon"}, remote: true do %>
            <i class="far fa-layer-minus pad-top purchase-icons" style="color: #FFA500"></i>
          <% end %>
        <% else %>
          <%= link_to collections_path(track: track), method: :post, data: {action: "icon-toggle#toggleIcon"}, remote: true do %>
            <i class="far fa-layer-plus pad-top purchase-icons icon-click-hover"></i>
          <% end %>
        <% end %>

        <% if current_user && Cart.where(user_id: current_user.id).first && Cart.where(user_id: current_user.id).first.sinlge_tracks != nil && (Cart.where(user_id: current_user.id).first.sinlge_tracks.include? track.id) %>
          <%= link_to single_tracks_cart_remove_path(track_id: track.id, page: params[:page]), method: :post, data: { action: "click->icon-toggle#toggleAddToCartIcon" }, remote: true do %>
            <i class="fas fa-trash-alt pad-top purchase-icons icon-click-hover in-cart"></i>
          <% end %>
        <% else %>
          <%= link_to single_tracks_cart_path(track_id: track.id, page: params[:page]), method: :post, data: { action: "click->icon-toggle#toggleAddToCartIcon" }, remote: true do %>
              <i class="fas fa-cart-plus pad-top purchase-icons icon-click-hover"></i>
          <% end %>
        <% end %>
      </div>
      <!-- The Track Info Modal -->
      <div id="trackInfo" class="track-info-modal" data-modalTrackId="<%= track.id %>">
        <!-- Modal content -->
        <div id="trackContentInfo" class="track-info-modal-content" data-modalTrackContentId="<%= track.id %>">
          <p><u>Title:</u> <span class="modal-orange-text" ><%= track.title %></span></p>
          <p><u>Category:</u> <span class="modal-orange-text" ><%= track.category.capitalize %></span></p>
          <p><u>Size:</u> <span class="modal-orange-text" ><%= track.size.to_i > 1_000_000 ? "#{track.size.to_i / 1_000_000} MB" : "#{track.size.to_i / 1_000} KB" %></span></p>
          <p><u>Duration:</u> <span class="modal-orange-text" id="trackDurationModalid<%= track.id %>"></span></p>
          <% if !track.sfx_pack_id.nil? %>
            <p><u>Sound Effect Pack:</u> <span class="modal-orange-text" ><%= SfxPack.find(track.sfx_pack_id).title %></span></p>
          <% end %>
          <p><u>Bitrate:</u> <span class="modal-orange-text" ><%= track.bitrate %> bits</span></p>
          <p><u>Sample rate:</u> <span class="modal-orange-text" ><%= (track.sample_rate.to_i / 1_000) %> kHz</span></p>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<div class="d-flex justify-content-between">
  <em><p class="results-font-size">Total results: <%= @tracks.total_count %></p></em>
  <%= paginate @tracks, class: "paginator-bottom" %>
</div>

<%= render 'shared/coming_soon_modals' %>