<% total_pack_price = 0 %>

<% @order.packs.each_with_index do |pack, index| %>
  <% if index.positive? %>
    <div class="d-flex">
      <% if @order.packs.count == 1 %>
        <div><%= image_tag SfxPack.find(pack).photos[0], width: "100px" %></div>
      <% else %>
        <div><%= image_tag SfxPack.find(pack).photos[0], width: "50px" %></div>
      <% end %>
      <div class="d-flex flex-column justify-content-center pack-details">
        <% if @current_sales_list != {} %>
          <p><span class="pack-name-price"><%= SfxPack.find(pack).title %></span> for <span class="pack-name-price"><%= humanized_money_with_symbol (SfxPack.find(pack).price * (1 - (@current_sales_list[pack] / 100.to_f))) %></span><span style="color: #ffa500; font-style: italic"> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>)</span></p>
          <% total_pack_price += (SfxPack.find(pack).price * (1 - (@current_sales_list[pack] / 100.to_f))) %>
        <% else %>
          <p><span class="pack-name-price"><%= SfxPack.find(pack).title %></span> for <span class="pack-name-price"><%= humanized_money_with_symbol SfxPack.find(pack).price * 0.8 %></span><span style="color: #ffa500; font-style: italic"> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>)</span></p>
          <% total_pack_price += (SfxPack.find(pack).price * 0.8) %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="d-flex">
      <% if @order.packs.count == 1 %>
        <div><%= image_tag SfxPack.find(pack).photos[0], width: "100px" %></div>
      <% else %>
        <div><%= image_tag SfxPack.find(pack).photos[0], width: "50px" %></div>
      <% end %>
      <div class="d-flex flex-column justify-content-center pack-details">
        <% if @current_sales_list != {} %>
          <p><span class="pack-name-price"><%= SfxPack.find(pack).title %></span> for <span class="pack-name-price"><%= humanized_money_with_symbol (SfxPack.find(pack).price * (1 - (@current_sales_list[pack] / 100.to_f))) %></span><span style="color: #ffa500; font-style: italic"> (instead of <%= humanized_money_with_symbol SfxPack.find(pack).price %>)</span></p>
          <% total_pack_price += (SfxPack.find(pack).price * (1 - (@current_sales_list[pack] / 100.to_f))) %>
        <% else %>
          <p><span class="pack-name-price"><%= SfxPack.find(pack).title %></span> for <span class="pack-name-price"><%= humanized_money_with_symbol SfxPack.find(pack).price %></span></p>
          <% total_pack_price += SfxPack.find(pack).price %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<hr>
