<% @order.packs.each_with_index do |pack, index| %>
  <div class="d-flex justify-content-between">
    <% if index.positive? %>
      <div class="d-flex">
        <div><%= image_tag SfxPack.find(pack).photos[0], width: "50px" %></div>
        <div class="d-flex flex-column justify-content-center pack-details">
            <p><span class="pack-name-price"><%= SfxPack.find(pack).title %></span> for <span class="pack-name-price"><%= humanized_money_with_symbol SfxPack.find(pack).price * 0.8 %></span> instead of <span class="pack-name-price"><%= humanized_money_with_symbol SfxPack.find(pack).price %></span></p>
        </div>
      </div>
    <% else %>
      <div class="d-flex">
        <div><%= image_tag SfxPack.find(pack).photos[0], width: "50px" %></div>
        <div class="d-flex flex-column justify-content-center pack-details">
            <p><span class="pack-name-price"><%= SfxPack.find(pack).title %></span> for <span class="pack-name-price"><%= humanized_money_with_symbol SfxPack.find(pack).price %></span></p>
        </div>
      </div>
    <% end %>
    <div class="d-flex flex-column justify-content-center">
      <div class="cart-form-remove">
        <%= form_tag remove_item_path do %>
          <%= hidden_field_tag 'pack_id', pack %>
          <%= button_tag(type: "submit", id: "checkout-btn-remove") do %>
              <i class="fal fa-times"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
