<% @pending.each do |order| %>
  <div class="pending_card">
    <h3><span id="pending-text">Pending</span> order from <%= order.created_at.strftime("%Y-%m-%d") %> </h3>
    <h5><i>Please <%= link_to "refresh", dashboard_path %> the page, come back later, or contact us <a href="mailto:olivier@bamsfx.com"> here!</a></i></h5>
    <br>
    <table>
      <tbody>
        <% order.packs.each do |pack_id| %>
        <% pack = SfxPack.where(id: pack_id)[0] %>
          <tr class="pack-info-dashboard">
            <td><%= image_tag pack.photos[0], width: "100px" %></td>
            <td><%= pack.title %></td>
            <td>(<i><%= humanized_money(pack.price, symbol: session[:currency]) %>)</i></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

