<% if current_user && @status == "Not Subscribed" || @status == "unsubscribed" || @status == "transactional" %>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="d-flex justify-content-between modal-content">
      <div>
        <span class="close">&times;</span>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <%= image_tag asset_path('pixel-dragon-2.gif'), id: "dragon" %>
        </div>
        <div>
          <h3 id="subscribe-title">Subscribe!</h3>
          <h5 id="subscribe-text">to Get exclusive news and discounts, and a <span id="free-pack">FREE SFX PACK</span>, right away! <%= link_to "CLICK HERE", subscribe_path %> </h5>
        </div>
      </div>

    </div>

  </div>
<% # elsif session[:subscribed] == true  %>
<% elsif current_user && @status == "subscribed" %>
<% else %>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div>
        <span class="close">&times;</span>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <%= image_tag asset_path('pixel-dragon-2.gif'), id: "dragon" %>
        </div>
        <div>
          <h3 id="subscribe-title">Subscribe!</h3>
          <h5 id="subscribe-text">Get exclusive news and discounts, and a <span id="free-pack">FREE SFX PACK</span>, right away!</h6>
        </div>
      </div>
      <%= simple_form_for :email, url: subscribe_no_user_path do |f| %>
        <%= hidden_field_tag 'subscribed', true %>
        <div class="d-flex justify-content-between subscribe-field">
          <div>
            <%= f.input :email, label: false, placeholder: "Enter your email here", required: true %>
          </div>
          <div>
            <%= f.button :submit, 'Subscribe', id: 'subscribe', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
// Get the modal
modal = document.getElementById("myModal");

// Do not open modal if visitor has previousely clicked the close button
if (typeof clicked != 'undefined') {
  modal.style.display = "none";
};

// Get the subscribe button
subscribe = document.getElementById("subscribe");

// Get the <span> element that closes the modal
span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = () => {
  modal.style.display = "none";
  clicked = true;
  background.style.opacity = "1";
}

// When the user subscribes, close the modal
subscribe.onclick = () => {
  modal.style.display = "none";
  clicked = true;
  background.style.opacity = "1";
}

// background opacity
const background = document.getElementById('body');

if (modal.style.display != "none") {
  background.style.opacity = "0.4";
};

</script>

