<% @orders.each do |order| %>
  <% @collection = Collection.find(order.collections.first) if order.collections != [] %>
  <% @tracks = order.tracks %>
  <div class="packs-display" style="margin-bottom: 16px; padding: 20px 0">
    <h3 id="order-space-under-title">Order from <%= order.created_at.strftime("%B #{order.created_at.day.ordinalize} %Y") %> </h3>

    <% if order.multiple == false %>
    <hr>
      <% pack = SfxPack.where(id: order.sfx_pack_id)[0] %>
      <div class="d-flex justify-content-between">
        <div class="pack-payment-checkout">
          <%= link_to sfx_pack_path(pack) do %>
            <div><%= image_tag pack.photos[0], width: "100px", id: "image-pack" %></div>
            <div class="pop-up-cart">Details</div>
          <% end %>
        </div>
        <div>
          <h4 id="title-pack"> <%= pack.title %> </h4>

          <% if order.sales != {} && order.sales[pack.id.to_s] %>
            <h5 id="price-pack">Price:  <strong> <%= humanized_money(pack.price * (1 - order.sales[pack.id.to_s][order.sales[pack.id.to_s].keys.first] / 100.to_f), symbol: session[:currency]) %> </strong> <span id="instead-dashboard"> <i> (instead of <%= humanized_money(pack.price, symbol: session[:currency]) %>) - <%= order.sales[pack.id.to_s][order.sales[pack.id.to_s].keys.first] %> % OFF </i> </span> </h5>
            <h5 id="instead-under"> <i> (instead of <%= humanized_money(pack.price, symbol: session[:currency]) %>) - <%= order.sales[pack.id.to_s][order.sales[pack.id.to_s].keys.first] %> % OFF </i> </h5>
          <% else %>
            <h5 id="price-pack">Price: <strong> <%= humanized_money(pack.price, symbol: session[:currency]) %> </strong> </h5>
          <% end %>

        </div>

        <div id="download-buttons-next">
          <% if pack.product_link.split(',').count == 1 %>
            <div id="download-pack">
              <p> <%=  link_to "Download Pack", pack.product_link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
              <p> <%=  link_to "Download", pack.product_link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
            </div>
          <% elsif pack.product_link.split(',').count == 2 %>
            <div id="download-pack-two">
              <% pack_links = pack.product_link.split(',') %>
              <% pack_links.each_with_index do |link, index| %>
                <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
              <% end %>
            </div>
          <% elsif pack.product_link.split(',').count == 3 %>
            <div id="download-pack-three">
              <% pack_links = pack.product_link.split(',') %>
              <% pack_links.each_with_index do |link, index| %>
                <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
              <% end %>
            </div>
          <% else %>
            <div id="download-pack-more">
              <% pack_links = pack.product_link.split(',') %>
              <% pack_links.each_with_index do |link, index| %>
                <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <% if order.collections != [] %>
        <h3>Your collection <%= @collection.title %></h3>
        <%= render 'shared/order_card_collection_desktop' %>
        <hr>
      <% end %>

      <% if @tracks != [] %>
        <h3>Single Tracks</h3>
        <%= render 'shared/order_card_single_tracks_desktop' %>
        <hr>
      <% end %>
    <% else %>
      <hr>
      <% order.packs.each_with_index do |pack_id, index| %>
        <% pack = SfxPack.where(id: pack_id)[0] %>
        <div class="d-flex justify-content-between pack-row">
          <div id="wrapper">
            <%= link_to sfx_pack_path(pack) do %>
              <div><%= image_tag pack.photos[0], width: "100px", id: "image-pack" %></div>
              <div class="pop-up-cart">Details</div>
            <% end %>
          </div>
          <div>
            <h4 id="title-pack"> <%= pack.title %> </h4>

            <% if order.sales != {} %>
              <% if order.sales[pack.id.to_s] %>
                <h5 id="price-pack">Price:  <strong> <%= humanized_money(pack.price * (1 - order.sales[pack_id.to_s][order.sales[pack_id.to_s].keys.first] / 100.to_f), symbol: session[:currency]) %> </strong> <span id="instead-dashboard"> <i> (instead of <%= humanized_money(pack.price, symbol: session[:currency]) %>) - <%= order.sales[pack_id.to_s][order.sales[pack_id.to_s].keys.first] %> % OFF </i> </span> </h5>
                <h5 id="instead-under"> <i> (instead of <%= humanized_money(pack.price, symbol: session[:currency]) %>) - <%= order.sales[pack_id.to_s][order.sales[pack_id.to_s].keys.first] %> % OFF </i> </h5>
              <% else %>
                <h5 id="price-pack">Price: <strong> <%= humanized_money(pack.price, symbol: session[:currency]) %> </strong> </h5>
              <% end %>
            <% else %>
              <% if index.positive? %>
                <h5 id="price-pack">Price: <strong> <%= humanized_money(pack.price * 0.8, symbol: session[:currency]) %> </strong> <span id="instead-dashboard"> <i> (instead of <%= humanized_money(pack.price, symbol: session[:currency]) %>) </i> </span> </h5>
                <h5 id="instead-under"> <i>(instead of <%= humanized_money(pack.price, symbol: session[:currency]) %>)</i> </h5>
              <% else %>
                <h5 id="price-pack">Price: <strong> <%= humanized_money(pack.price, symbol: session[:currency]) %> </strong> </h5>
              <% end %>
            <% end %>
          </div>

          <div id="download-buttons-next">
            <% if pack.product_link.split(',').count == 1 %>
              <div id="download-pack">
                <p> <%=  link_to "Download Pack", pack.product_link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                <p> <%=  link_to "Download", pack.product_link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
              </div>
            <% elsif pack.product_link.split(',').count == 2 %>
              <div id="download-pack-two">
                <% pack_links = pack.product_link.split(',') %>
                <% pack_links.each_with_index do |link, index| %>
                  <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                  <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
                <% end %>
              </div>
            <% elsif pack.product_link.split(',').count == 3 %>
              <div id="download-pack-three">
                <% pack_links = pack.product_link.split(',') %>
                <% pack_links.each_with_index do |link, index| %>
                  <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                  <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
                <% end %>
              </div>
            <% else %>
              <div id="download-pack-more">
                <% pack_links = pack.product_link.split(',') %>
                <% pack_links.each_with_index do |link, index| %>
                  <p> <%=  link_to "Download Pack part #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order" %> </p>
                  <p> <%=  link_to "Download #{index + 1}", link, oncontextmenu: "return false;", id: "btn-download-order-short" %> </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>

      <% if order.collections != [] %>
        <h3>Your collection <%= @collection.title %></h3>
        <%= render 'shared/order_card_collection_desktop' %>
        <hr>
      <% end %>

      <% if @tracks != [] %>
        <h3>Single Tracks</h3>
        <%= render 'shared/order_card_single_tracks_desktop' %>
        <hr>
      <% end %>
    <% end %>

    <p>Status: <strong><%= order.status %></strong> </p>
    <p>Total order value: <strong><%= humanized_money(order.amount_cents.to_f / 100, symbol: session[:currency]) %></strong></p>
    <% if order.coupon %>
      <p>Total amount paid: <strong><%= humanized_money(order.amount_paid_cents.to_f / 100, symbol: session[:currency]) %></strong> </p>
      <% coupon_array = order.coupon.split(',') %>
      <% if coupon_array[1].strip == "Percentage" %>
        <% coupon_value = "#{coupon_array[2].to_i}%" %>
      <% else %>
        <% coupon_value = humanized_money(coupon_array[2].to_i / 100, symbol: session[:currency]) %>
      <% end %>
      <p>Coupon code: <strong> <%= coupon_array[0].upcase %> </strong>(<%= coupon_value %>)</p>
    <% end %>
  </div>
<% end %>
