<% if designer.submission_links.present? %>
  <hr style="border-color: white">
<% end %>
<%= simple_form_for [designer, link], data: { designer_submission_form_target: "linkForm" } do |f| %>
  <% if link.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :id %>
  <%= f.input :url, label: "Enter link" %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :description, label: "Add a description (optional)", required: false, as: :string %>
  <%= f.submit "Add", class: "btn btn-dark w-100 mt-3" %>
<% end %>
