<%= simple_form_for designer_submission, data: {designer_submission_form_target: "mainForm"} do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :location %>
  <div class="d-flex">
    <%= f.input :individual_tracks, label: "Check this box if you are interested in selling your tracks individually, and available for collections" %>
    <div data-controller="submission-modal">
      <a href="#" class="mt-3" style="font-size: 1.6rem" data-action="click->submission-modal#show"><i class="fas fa-info-circle"></i></a>
      <%= render "designer_submissions/individual_tracks_modal" %>
    </div>
  </div>
  <div class="text-center mt-2">
    <%= f.submit "Confirm information", class: "btn btn-dark w-100" %>
  </div>
<% end %>