<%= simple_form_for [@designer, @sfx_pack] do |f| %>
  <div class="mb-3">
    <div class="d-flex">
      <div class="d-flex flex-column" data-controller="submission-image-preview">
        <img src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1753797330/sfx_shop/placeholder_dbrvpk.png" alt="image placeholder" class="pack-submission-form__image-placeholder" data-submission-image-preview-target="preview">
        <div>
          <label for="file-upload" class="inline-block text-white py-2 px-4 rounded pack-submission-form__photo-upload">
            Upload Cover (Square)
          </label>
          <%= f.input :photos,
                    as: :file,
                    label: false,
                    input_html: { id: "file-upload", class: "d-none", data: { submission_image_preview_target: "input", action: "change->submission-image-preview#preview" }} %>
        </div>
      </div>
      <div class="ms-5">
        <em>
          Note: Please make sure that your image to illustrate your sound effect pack is as square as possible, as all sound effect pack covers will be displayed in this shape throughout the webiste.<br><br> Thank you!!!
        </em>
      </div>
    </div>
  </div>
  <%= f.input :title %>
  <%= f.input :description %>
  <hr>
  <%= f.input :category, collection: ["action", "medieval", "outdoor", "underground", "scary", "monsters", "disasters", "weather", "miscellaneous", "footsteps", "magic", "scifi"], multiple: true, label: "Category (Max. 3)", input_html: {data: {controller: "tom-select-pack-submission-category"}, class: "pack-submission-form__tom-select-input"}, placeholder: "Select from list" %>
  <hr>
  <%= f.input :tags, collection: SfxPack::TAGS, multiple: true, label: "Tags (Max. 10)", input_html: {data: {controller: "tom-select-pack-submission-tags"}, class: "pack-submission-form__tom-select-input"} %>
  <hr>
  <div class="d-flex justify-content-between">
    <%= f.input :number_of_tracks %>
    <%= f.input :size_mb, label: "Size in MB" %>
    <%= f.input :duration, label: "Duration in minutes" %>
  </div>
  <hr>
  <%= f.input :price, label: "Price ($)" %>
  <div class="submission-form__note mt-2">
    <small><em>Note: Leave 0 for free packs.</em></small>
  </div>
  <hr>
  <%= f.input :link, label: "Share your demo link" %>
  <div class="submission-form__note mt-2">
    <small><em>Note: Share a link to your work that accurately illustrates this pack, for potential buyers.</em></small>
  </div>
  <hr>
  <%= f.input :product_link, label: "Share a url where we can find the list of tracks" %>
    <div class="submission-form__note mt-2">
      <small><em>Note: Share a download link to your pack, so we can upload it to our Cloud Service</em></small>
    </div>
  <div class="text-center mt-4">
    <%= f.submit "Submit Pack", class: "btn btn-dark w-100", style: "height: 40px; border-radius: 8px; font-size: 1rem" %>
  </div>
<% end %>


    <%#
    t.integer "price_cents", default: 0, null: false
    t.string "sku"
    t.float "version"
    t.string "link"
    t.string "list"
    t.string "product_link"
    t.integer "display_order"
    t.string "announcement"
    t.integer "status"
    t.index ["sound_designer_id"], name: "index_sfx_packs_on_sound_designer_id" %>