<div class="designer-dashboard__sales-grid">
  <div class="d-flex align-items-center">
    <div class="submission-card-date-title">
      <div>Date</div>
    </div>
    <div class="submission-card-content d-flex align-items-center">
      <div>Listing name</div>
    </div>
  </div>

  <div class="sales-card-titles-price">
    <span>Price <em>(incl. VAT)</em></span>
    <span style="margin-left: 8px"><small><em>VAT</em></small></span>
    <span>Payout</span>
  </div>
  <div class="sales-card-titles-buyer">
    <span>Buyer</span>
    <span>Location</span>
  </div>
</div>
<% @sold_items.each do |item| %>
  <div class="designer-dashboard__sales-grid">
    <div class="d-flex align-items-center">
      <div class="submission-card-date">
        <div class="submission-day"><%= item.created_at.strftime("%b") %></div>
        <div class="submission-date"><%= item.created_at.strftime("%d") %></div>
      </div>
      <div class="submission-card-content d-flex align-items-center">
        <div class="sound-designer-dashboard__sales-image">
          <%= cl_image_tag item.sfx_pack.photos.first.key, width: 42, height: 42 %>
        </div>
        <div><%= item.sfx_pack.title %></div>
      </div>
    </div>

    <div class="sales-card-titles-price">
      <div>
        <% if item.order.amount_paid_currency.downcase == item.sfx_pack.currency %>
          <div class="submission-date"><%= number_to_currency(item.amount_cents / 100, unit: "#{CurrencySymbolService.lookup(item.sfx_pack.currency)} ", separator: ",", precision: 2) %></div>
        <% else %>
          <% conversion_rate = CurrencyRate.where(target: item.order.amount_paid_currency).last.rate %>
          <% converted_price = (item.amount_cents * conversion_rate) / 100 %>
          <div class="submission-date">
            <%= number_to_currency(converted_price, unit: "#{CurrencySymbolService.lookup(item.order.amount_paid_currency.downcase)} ", separator: ",", precision: 2) %>
          </div>
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <em><small><%= number_to_currency((item.amount_cents * 0.07) / 100, unit: "#{CurrencySymbolService.lookup(item.order.amount_paid_currency.downcase)} ", separator: ",", precision: 2) %></small></em>
      </div>
      <div class="d-flex align-items-center">
        <span>
          <%= number_to_currency(item.payout_amount_cents / 100.0, unit: "#{CurrencySymbolService.lookup(item.payout_currency)} ", separator: ",", precision: 2) %>
          <em class="paid-pill"><%= item.status %></em>
        </span>
      </div>
    </div>
    <div class="sales-card-titles-buyer">
      <span><%= item.order.user.username.present? ? item.order.user.username : item.order.user.email.split("@").first %></span>
      <span><%= item.order.user.location.present? ? item.order.user.location : "Planet Earth" %></span>
    </div>
  </div>
<% end %>