<div class="designer-dashboard__sales-grid">
  <div class="submission-card-date text-center">
    <div><%= item.created_at.strftime("%b") %></div>
    <div><%= item.created_at.strftime("%d") %></div>
  </div>
  <div class="submission-card-content d-flex align-items-center text-center">
    <div class="sound-designer-dashboard__sales-image">
      <%= image_tag item.sfx_pack.photos.first, width: 42, height: 42 %>
    </div>
    <div><%= item.sfx_pack.title %></div>
  </div>
  <div class="text-end">
    <% if item.order.amount_paid_currency.downcase == item.sfx_pack.currency %>
      <div><%= number_to_currency(item.amount_cents / 100.0, unit: "#{CurrencySymbolService.lookup(item.sfx_pack.currency)} ", separator: ",", precision: 2) %></div>
    <% else %>
      <% conversion_rate = CurrencyRate.where(target: item.order.amount_paid_currency).last.rate %>
      <% converted_price = (item.amount_cents * conversion_rate) / 100 %>
      <div>
        <%= number_to_currency(converted_price, unit: "#{CurrencySymbolService.lookup(item.order.amount_paid_currency.downcase)} ", separator: ",", precision: 2) %>
      </div>
    <% end %>
  </div>
</div>