<div class="padding-navbar content admin-min-height bg-dark">
  <%= render "welcome_banner" %>
  <div class="container" data-controller="designer-pack-filter" data-designer-pack-filter-pack-count-value="<%= @pack_count.to_json %>">
    <div class="designer-menu__desktop">
      <%= render "designer_menu" %>
    </div>
    <div class="designer-menu__mobile">
      <%= render "designer_menu_mobile" %>
    </div>
    <% if @designer.invalid?%>
      <div class="designer-dashboard__no-payout">
        <h4 class="designer-dashboard__info-banner"> Please complete your profile to continue <%= link_to "Click here", designer_main_dashboard_path(@designer), class: "btn btn-reject" %></h4>
      </div>
    <% elsif !@agreement_signed && @designer.valid? %>
      <div class="designer-dashboard__no-payout">
        <h4 class="designer-dashboard__info-banner"> Please review the Seller Agreement to proceed <%= link_to "Click here", seller_agreement_path(@designer), class: "btn btn-orange ms-4"%></h4>
      </div>
    <% elsif !current_user.legal_entity.accepted? && !current_user.admin?%>
      <div class="d-flex justify-content-center btn btn-orange btn-hover-dismiss">Your submission is pending approval</div>
    <% else %>
      <div class="designer-menu__desktop-filter-pills">
        <%= render "filter_pills_desktop" %>
      </div>
      <div class="designer-menu__mobile-filter-pills">
        <%= render "filter_pills_mobile" %>
      </div>
      <div class="submissions-live__grid">
        <% @packs.each do |pack| %>
          <% case pack.status %>
          <% when "live" then pill_color_class = "live" %>
          <% when "declined" then pill_color_class = "declined" %>
          <% when "removed" then pill_color_class = "removed" %>
          <% else pill_color_class = "else" %>
          <% end %>
          <div class="designer-dashboard__container mb-3"
              data-designer-pack-filter-target="status"
              data-status="<%= pack.status %>">
            <div class="designer-dashboard__user-profile">
              <div class="d-flex justify-content-between">
                <div>
                  <%= pack.title %><span class="badge rounded-pill text-bg-light ms-3 <%= pill_color_class %>"><%= pack.status %></span>
                </div>
                <div>
                  <%= link_to sfx_pack_path(pack), target: "_blank" do %>
                    <i class="fas fa-eye me-2"></i>
                  <% end %>
                  <%= link_to update_pack_path(pack), class: "designer-dashboard__icon-white" do %>
                    <i class="fas fa-pen me-2"></i>
                  <% end %>
                  
                  <% unless pack.removed? %>                  
                    <%= link_to remove_pack_path(pack), method: :delete, data: { confirm: "Are you sure you want to remove this pack?" }, class: "designer-dashboard__icon-white" do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  <% end %>
                  
                </div>
              </div>
              <hr>
              <div class="d-flex submissions__pack-description">
                <div class="me-4">
                  <% if pack.photos.present? %>
                    <%= image_tag pack.photos.first, class: "designer-dashboard__pack-image" %>
                  <% end %>
                </div>
                <div class="text-muted small d-flex flex-column justify-content-between">
                  <div>
                    <p class="mb-1">• <%= pack.sample_rate == 44100 ? pack.sample_rate / 1000.0 : pack.sample_rate / 1000 %>kHz / <%= pack.bit_depth %>bit High Def Audio</p>
                    <% if pack.size_mb > 1000 %>
                      <p class="mb-1">• <%= (pack.size_mb / 1000.to_f).ceil(1) %> GB</p>
                    <% else %>
                      <p class="mb-1">• <%= pack.size_mb %> MB</p>
                    <% end %>
                    <p class="mb-1">• <%= pack.number_of_tracks %> Sounds</p>
                    <p class="mb-0">• Format: WAV</p>
                  </div>
                  <div class="designer-dashboard__pills pills-desktop">
                    <div class="flex flex-wrap gap-2 pills-width">
                      <% pack.category.split(", ").each do |tag| %>
                        <span class="text-white text-xs font-medium px-2 py-1 badge rounded-pill designer-dashboard__pills-color"><%= tag %></span>
                      <% end %>
                    </div>
                    <div class="submissions__pack-price">
                      <% if pack.price_cents == 0 %>
                        <span class="text-white text-xs px-2 py-1 badge rounded-pill" style="background-color: #ff00fe;">free</span>
                      <% else %>
                        <div id="submissions__pack-price-font">
                          <%= number_to_currency(pack.price, unit: "#{pack.currency_symbol} ", separator: ",", precision: 2) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="designer-dashboard__pills pills-mobile">
                <div class="flex flex-wrap gap-2 pills-width">
                  <% pack.category.split(", ").each do |tag| %>
                    <span class="text-white text-xs font-medium px-2 py-1 badge rounded-pill designer-dashboard__pills-color"><%= tag %></span>
                  <% end %>
                </div>
                <div class="submissions__pack-price">
                  <% if pack.price_cents == 0 %>
                    <span class="text-white text-xs px-2 py-1 badge rounded-pill" style="background-color: #ff00fe;">free</span>
                  <% else %>
                    <div id="submissions__pack-price-font">
                      <%= number_to_currency(pack.price, unit: "#{pack.currency_symbol} ", separator: ",", precision: 2) %>
                    </div>
                  <% end %>
                </div>
              </div>
              
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
