<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <%= render "welcome_banner" %>
  <div class="container">
    <%= render "designer_menu" %>
    <div class="designer-dashboard__container" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">Designer Profile</p>
          </div>
          <div class="designer-dashboard__edit-icon" data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <hr style="margin-top: 0">
        <div class="designer-dashboard__info" data-update-info-target="data">
          <div class="designer-dashboard__info-grid mb-3">
            <span class="mb-2">Artist name:</span>
            <em><span class="info-color"><%= @designer.artist_name %></span></em>
            <div></div>
            <span>Location:</span>
            <em><span class="info-color"><%= @designer.location %></span></em>
            <div></div>
          </div>
          <hr style="margin-top: 0">
          <div class="designer-dashboard__info-grid"><span>Email:</span><em><span class="info-color"><%= @designer.user.email %></span></em></div>
        </div>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @designer, url: update_designer_info_path(@designer), method: :post do |f| %>
            <%= f.input :artist_name, label: "Artist Name", placeholder: @designer.artist_name ? @designer.artist_name : "Enter your artist name" %>
            <%= f.input :location, label: "Location", placeholder: @designer.location ? @designer.location : "Enter your location" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="designer-dashboard__container mt-3" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">About you</p>
          </div>
          <div class="designer-dashboard__edit-icon" data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <hr style="margin-top: 0">
        <div data-update-info-target="data">
          <% if @designer.bio.present? %>
            <span><%= @designer.bio %></span>
          <% else %>
            <p>Tell the World about yourself</p>
          <% end %>
        </div>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @designer, url: update_designer_bio_path(@designer), method: :post do |f| %>
            <%= f.input :bio, as: :text, label: "Your Bio", placeholder: @designer.bio ? @designer.bio : "Tell the World about yourself" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
