<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <%= render "welcome_banner" %>
  <div class="container">
    <div class="designer-menu__desktop">
      <%= render "designer_menu" %>
    </div>
    <div class="designer-menu__mobile">
      <%= render "designer_menu_mobile" %>
    </div>
    <% if @designer.invalid?%>
      <span class="btn btn-rejected w-100 mb-3" style="font-size: 1.2rem"> Please complete your profile to continue <i class="fas fa-arrow-alt-circle-down me-3"></i></span>
    <% elsif !current_user.legal_entity.accepted? && !current_user.admin?%>
      <div class="d-flex justify-content-center btn btn-orange btn-hover-dismiss mb-3">Your submission is pending approval</div>
    <% end %>
    <div class="designer-dashboard__container" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">Designer Profile</p>
          </div>
          <div class="designer-dashboard__edit-icon" data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <hr style="margin-top: 0">
        <div class="designer-dashboard__info" data-update-info-target="data">
          <div class="designer-dashboard__info-grid mb-3">
            <span class="mb-2">Artist name:</span>
            <% if @designer.artist_name.present? %>
              <em><span class="info-color"><%= @designer.artist_name %></span></em>
            <% else %>
              <p class="btn btn-reject" data-action="click->update-info#toggleEdit">Artist Name Missing</p>
            <% end %>
            <div></div>
            <span>Location:</span>
            <em><span class="info-color"><%= @designer.location %></span></em>
            <div></div>
          </div>
          <hr style="margin-top: 0">
          <div class="designer-dashboard__info-grid"><span>Email:</span><em><span class="info-color"><%= @designer.user.email %></span></em></div>
        </div>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @designer, url: update_designer_info_path(@designer), method: :post do |f| %>
            <%= f.input :artist_name, label: "Artist Name", placeholder: @designer.artist_name ? @designer.artist_name : "Enter your artist name" %>
            <%= f.input :location, label: "Location", placeholder: @designer.location ? @designer.location : "Enter your location" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="designer-dashboard__container mt-3" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">About you</p>
          </div>
          <div class="designer-dashboard__edit-icon" data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <hr style="margin-top: 0">
        <div data-update-info-target="data">
          <% if @designer.bio.present? %>
            <span><%= @designer.bio %></span>
          <% else %>
            <p>Tell the World about yourself</p>
          <% end %>
        </div>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @designer, url: update_designer_bio_path(@designer), method: :post do |f| %>
            <%= f.input :bio, as: :text, label: "Your Bio", placeholder: @designer.bio ? @designer.bio : "Tell the World about yourself" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
