<div class="padding-navbar content admin-min-height bg-dark">
  <%= render "welcome_banner" %>
  <div class="container">
    <%= render "designer_menu" %>
    <div class="designer-dashboard__container" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">Profile Information</p>
          </div>
          <div data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <hr style="margin-top: 0">
        <div class="designer-dashboard__info" data-update-info-target="data">
          <div class="designer-dashboard__info-grid mb-3">
            <span class="mb-2">Artist name:</span>
            <em><span class="info-color"><%= @designer.artist_name %></span></em>
            <div></div>
            <span>Location:</span>
            <em><span class="info-color"><%= @designer.location %></span></em>
            <div></div>
          </div>
          <hr style="margin-top: 0">
          <div class="designer-dashboard__info-grid"><span>Email:</span><em><span class="info-color"><%= @designer.user.email %></span></em></div>
        </div>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @designer, url: update_designer_info_path(@designer), method: :post do |f| %>
            <%= f.input :artist_name, label: "Artist Name", placeholder: @designer.artist_name ? @designer.artist_name : "Enter your artist name" %>
            <%= f.input :location, label: "Location", placeholder: @designer.location ? @designer.location : "Enter your location" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="designer-dashboard__container mt-3" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">About you</p>
          </div>
          <div data-action="click->update-info#toggleEdit">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <hr style="margin-top: 0">
        <div data-update-info-target="data">
          <% if @designer.bio.present? %>
            <span><%= @designer.bio %></span>
          <% else %>
            <p>Tell the World about yourself</p>
          <% end %>
        </div>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @designer, url: update_designer_bio_path(@designer), method: :post do |f| %>
            <%= f.input :bio, as: :text, label: "Your Bio", placeholder: @designer.bio ? @designer.bio : "Tell the World about yourself" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="designer-dashboard__container mt-3" data-controller="update-info">
      <div class="designer-dashboard__user-profile">
        <div class="d-flex justify-content-between">
          <div>
            <p class="designer-dashboard__label">Payout Information</p>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <% if @paypal.pending_verif? %>
              <div class="btn me-2 btn-admin designer-dashboard__paypal-pending">Pending Approval</div>
            <% elsif @paypal.active? %>
              <a href="mailto: support@bamsfx.com" target="blank" class="btn btn-dark">Request Modification</a>
            <% elsif @paypal.inactive? %>
              <div class="btn me-2 btn-admin designer-dashboard__paypal-inactive">Suspended</div>
            <% end %>
          </div>
        </div>
        <hr style="margin-top: 0">
        <% if @paypal.paypal_account.present? %>
          <div data-update-info-target="data">
            <div class="designer-dashboard__info-grid mb-2">
              <span>Paypal Account:</span>
              <em><span class="info-color"><%= @paypal.paypal_account %></span></em>
            </div>
            <div class="designer-dashboard__info-grid">
              <span>Preferred Currency:</span>
              <span class="designer-dashboard__preferred-currency btn btn-admin"><%= @paypal.preferred_currency.upcase %></span>
            </div>
          </div>
        <% elsif @paypal.paypal_account.nil? || @paypal_account.unknown? %>
          <div class="d-flex justify-content-between" data-update-info-target="data">
            <p>Please add your paypal account, so we can proceed to sending you payments.</p>
            <div data-action="click->update-info#toggleEdit"><button class="btn btn-secondary btn-admin-active">ADD</button></div>
          </div>
        <% end %>
        <div class="d-none" data-update-info-target="form">
          <%= simple_form_for @paypal, url: paypal_account_path(@designer), method: :post do |f| %>
            <%= f.input :paypal_account, label: "Please enter your Paypal account", placeholder: @paypal ? @paypal.paypal_account : "Enter your PayPal account" %>
            <%= f.input :preferred_currency, label: "Please enter your Preferred Currency", collection: ["EUR", "USD"], selected: @paypal.preferred_currency.present? ? @paypal.preferred_currency.upcase : "USD" %>
            <%= f.submit "Submit", class: "btn designer-dashboard__btn-form w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a href="mailto: support@bamsfx.com" target="blank" class="btn btn-secondary mt-3 mb-3" style="padding: 10px 8px">Write to Support</a>
    </div>
  </div>
</div>
