<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <%= render "welcome_banner" %>
  <div class="container">
    <div class="designer-menu__desktop">
      <%= render "designer_menu" %>
    </div>
    <div class="designer-menu__mobile">
      <%= render "designer_menu_mobile" %>
    </div>
    <% if @designer.invalid?%>
      <div class="designer-dashboard__no-payout">
        <h4 class="designer-dashboard__info-banner"> Please complete your profile to continue <%= link_to "Click here", designer_main_dashboard_path(@designer), class: "btn btn-reject" %></h4>
      </div>
    <% elsif !@agreement_signed && @designer.valid? %>
      <div class="designer-dashboard__no-payout">
        <h4 class="designer-dashboard__info-banner"> Please review the Seller Agreement to proceed <%= link_to "Click here", seller_agreement_path(@designer), class: "btn btn-orange ms-4"%></h4>
      </div>
    <% elsif !current_user.legal_entity.accepted? && !current_user.admin?%>
      <div class="d-flex justify-content-center btn btn-orange btn-hover-dismiss">Your submission is pending approval</div>
    <% else %>
    <div class="d-flex justify-content-between">
      <div style="color: white; opacity: 0.7">Next payout: <%= humanized_money(@payout_amount, symbol: "#{@currency_symbol} ") %></div>
      <% if @prior_year_payments %>
        <%= simple_form_for :filters, url: payouts_path, method: :get, html: {class: "designer-dashboard__payout-form"} do |f| %>
          <div class="d-flex">
            <%= f.input :year,
                        collection: (@first_payout_year..Date.today.year).to_a.reverse,
                        selected: params[:filters].present? && params[:filters][:year].present? ? params[:filters][:year] : Date.today.year,
                        include_blank: false,
                        label: false,
                        required: false,
                        wrapper_input_html: { class: "designer-dashboard__payout-year-select" } %>
            <%= button_tag type: :submit, class: "btn" do %>
               <i class="fas fa-check"></i>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="btn btn-secondary"><%= @year %></div>
      <% end %>
    </div>
    <%= render "payouts_list" %>
    <% end %>
  </div>
</div>
