<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <%= render "welcome_banner" %>
  <div class="container">
    <div class="designer-menu__desktop">
      <%= render "designer_menu" %>
    </div>
    <div class="designer-menu__mobile">
      <%= render "designer_menu_mobile" %>
    </div>
    <% if @designer.invalid?%>
      <div class="designer-dashboard__no-payout">
        <h4 class="designer-dashboard__info-banner"> Please complete your profile to continue <%= link_to "Click here", designer_main_dashboard_path(@designer), class: "btn btn-reject" %></h4>
      </div>
    <% elsif !@agreement_signed && @designer.valid? %>
      <div class="designer-dashboard__no-payout">
        <h4 class="designer-dashboard__info-banner"> Please review the Seller Agreement to proceed <%= link_to "Click here", seller_agreement_path(@designer), class: "btn btn-orange ms-4"%></h4>
      </div>
    <% elsif !current_user.legal_entity.accepted? && !current_user.admin?%>
      <div class="d-flex justify-content-center btn btn-orange btn-hover-dismiss">Your submission is pending approval</div>
    <% else %>
      <div class="d-flex justify-content-between">
        <div style="color: white; opacity: 0.7">Next payout: <%= humanized_money(@payout_amount, symbol: "#{@currency_symbol} ") %></div>
        <div data-controller="display-calendar-designer-sales" >
          <div class="d-flex">
            <div class="designer-dashboard__sales-dates d-flex" data-display-calendar-designer-sales-target="dates" data-action="click->display-calendar-designer-sales#calendar">
              <div id="designer-dashboard__sales-dates-display">
                Sales from <%= @start_date.to_date.strftime("%b. %-d %Y") %> to <%= @end_date.to_date.strftime("%b. %-d %Y") %>
              </div>
              <div id="designer-dashboard__sales-pen">
                <i class="fas fa-pen"></i>
              </div>
            </div>
            <%= link_to designer_sales_path do %>
              <div id="designer-dashboard__sales-clear" data-display-calendar-designer-sales-target="reset">
                <i class="fas fa-times-circle"></i>
              </div>
            <% end %>
          </div>
          <%= simple_form_for :filters, url: designer_sales_path, method: :get, html: {class: "designer-dashboard__payout-form d-none", data: { display_calendar_designer_sales_target: "calendar"}} do |f| %>
            <div class="d-flex justify-content-end">
              <%= f.input :range_date,
                          as: :string,
                          label: false,
                          placeholder: "Select Date Range",
                          required: false,
                          wrapper_input_html: { class: "designer-dashboard__payout-year-select" },
                          input_html: { data: { controller: "date-picker-designer-sales" } } %>
              <%= f.button :submit, "GO", class: "btn btn-secondary"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="designer-dashboard__sales-desktop">
        <%= render "sold_items_desktop" %>
      </div>
      <div class="designer-dashboard__sales-mobile">
        <%= render "sold_items_mobile" %>
      </div>
      <div class="designer-dashboard__sales-xs">
        <%= render "sold_items_xs" %>
      </div>
    <% end %>
  </div>
</div>
