<%= render "shared/left_pannel_mobile"%>
<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <%= render "welcome_banner" %>
  <div class="container">
    <%= render "designer_menu" %>
    <div style="color: white; opacity: 0.7">Next payout: <%= humanized_money(@payout_amount, symbol: session[:currency]) %></div>
    <%= render "sold_items" %>
  </div>
</div>
