<div class="padding-navbar content admin-min-height bg-dark pb-4">
  <%= render "welcome_banner" %>
  <div class="container">
    <%= render "designer_menu" %>
    <%= render "designer_dashboards/settings/seller_agreement" %>
    <%= render "designer_dashboards/settings/payout_information" %>
    <%= render "designer_dashboards/settings/legal_information" %>
  </div>
</div>
