<%= render "shared/left_pannel_mobile"%>
<div class="padding-navbar content admin-min-height bg-dark">
  <%= render "welcome_banner" %>
  <div class="container">
    <%= render "designer_menu" %>
    <ul>
      <% @sold_items.each do |item| %>
        <li>
          <%= item.order.created_at %>
          <%= item.sfx_pack.title %> - <%= item.amount / 100.to_f %> instead of <%= item.sfx_pack.price_cents / 100.to_f %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
