<%= render "shared/left_pannel_mobile"%>
<div class="padding-navbar content admin-min-height bg-dark">
  <%= render "welcome_banner" %>
  <div class="container">
    <%= render "designer_menu" %>
    <ul>
      <% @sold_items.each do |item| %>
        <li><%= item.sfx_packtitle %> - <%= item.amount %></li>
      <% end %>
    </ul>
  </div>
</div>
