<div id="body">
  <%= render 'shared/navbar' %>
  <%= render 'shared/caroussel' %>

  <% if !@announcement.nil? %>
  <%# <div class="container"> %>
    <h1 id="annoucement-content"><%= @announcement.content %></h1>
  <%# </div> %>
  <% elsif @current_sales_list != {} %>
    <div id="sale-banner">
      <h1 id="front-title-sale"><span style="font-size: 1.2em"><%= @sale_title %></span> !!!  Save up to <span style="font-size: 1.2em"> <%= @sale_percentage %>% </span> !!!</h1>
    </div>
  <% else %>
    <h1 id="front-title">Browse through our high quality SFX Packs</h1>
  <% end %>

  <div class="container-xl">
    <%= render 'shared/pack_card' %>
  </div>
</div>

<%= render 'shared/subscribe_modal' %>
