<%= render 'shared/caroussel' %>
<div class="container-xl">
  <h1 id="front-title">Browse through our high quality SFX Packs</h1>
  <div class="d-flex flex-row justify-content-center">
    <div><%= image_tag "https://res.cloudinary.com/dk9a86uhu/image/upload/v1604053462/sfx_shop/MonsterPack_Transp_small_jhfded.png", width: 400, crop: :fill %></div>
    <div><%= image_tag "https://res.cloudinary.com/dk9a86uhu/image/upload/v1604052938/sfx_shop/Guns_Explosions_transp_small_rywioe.png", width: 400, crop: :fill %></div>
    <div><%= image_tag "https://res.cloudinary.com/dk9a86uhu/image/upload/v1604054508/sfx_shop/OutdoorAtmospheres_transp_small_akcvcd.png", width: 400, crop: :fill %></div>
  </div>

<%= render 'shared/pack_card' %>

</div>
