<div class="d-flex mt-5 mb-2">
  <%= link_to request.referer || admin_path, class: "admin-dashboard__back-button me-2" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

  <%= link_to "Main",
      admin_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if action_name == "admin"}" %>
  <%= link_to "Designer Submissions",
      submissions_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if controller_name == "administrator" && (action_name == "designer_submissions" || action_name == "legal_entity_show" || action_name == "designer_legal_entities")}" %>
  <%= link_to "Pack Submissions",
      pack_submissions_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if controller_name == "administrator" && (action_name == "pack_submissions")}" %>
  <%= link_to "Designers",
      designers_list_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if controller_name == "administrator" && (action_name == "designers_list" || action_name == "designers_offline_list" || action_name == "designer_packs")}"  %>
  <%= link_to "Stats",
      stats_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if action_name == "stats"}" %>
  <%= link_to "Sales",
      list_sales_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if action_name == "sales" || (controller_name == "sales" && action_name == "new")}" %>
  <%= link_to "Payouts",
      admin_payouts_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if (controller_name == "administrator" && action_name == "payouts") || (controller_name == "payouts" && action_name == "new")}" %>
  <%= link_to "Agreements",
      admin_agreements_path,
      class: "btn btn-secondary me-2 btn-admin #{'btn-admin-active' if (controller_name == "administrator" && action_name == "agreements")}" %>
</div>
<hr style="border-color: white">