<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
  <h1>Hey Olivier</h1>

  <p>
    There have been <%= Order.count %> orders
  </p>

  <p>
    Made by <%= Order.group(:user_id).count  %>
  </p>

  <p>
    Number of users: <%= User.count %>
  </p>

  <p>
    Total Amount earned: <%= humanized_money_with_symbol Order.all.sum(&:amount_paid_cents) %>
  </p>
</div>
