<%= render 'shared/navbar_admin' %>
<div class="container padding-navbar content">
  <h1 class="d-flex justify-content-center mt-3 mb-5">Hey Olivier</h1>

  <div class="d-flex justify-content-between">
    <div>
      <p>
        There have been <%= @paid_orders %> orders
      </p>
      <p>
        Total Amount earned: <%= humanized_money_with_symbol Order.all.sum(&:amount_paid_cents) / 100 %>
      </p>
      <p>
        Number of customers: <%= @buyers %>
      </p>
      <p>
        Made by <br>
        <% @top_five.each do |key, value|  %>
          <p> <%= mail_to User.find(key).email %>: <%= value %> </p>
        <% end %>
      </p>

      <p>
        Number of users: <%= User.count %>
      </p>
    </div>
    <div>

      <table id="pack_table">
        <tr>
          <th>Pack</th>
          <th>Nb of sales</th>
        </tr>

        <% @packs.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </table>

    </div>

    <div>
      <h3> <%= link_to "Create a Sale", new_sale_path %> </h3>


      <h5>Current Sales:</h5>
      <% @current_sales.each do |sale| %>

        <p> <%= sale.title %> </p>
        <p> <%= sale.percentage %> </p>
        <p> <%= sale.packs %> </p>
        <p> <%= sale.start_date %> </p>
        <p> <%= sale.end_date %> </p>
        <%= link_to "Delete Sale", sale_path(sale), method: :delete, data: { confirm: 'Are you sure?' }  %>
      <% end %>
    </div>
  </div>
</div>
