<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
  <h1>Hey Olivier</h1>

  <p>
    There have been <%= Order.count %> orders
  </p>

  <p>
    Made by <%= Order.group(:user_id).count  %>
  </p>

  <p>
    Number of users: <%= User.count %>
  </p>

  <p>
    Total Amount earned: <%= humanized_money_with_symbol Order.all.sum(&:amount_paid_cents) / 100 %>
  </p>

  <h3> <%= link_to "Create a Sale", new_sale_path %> </h3>

  <% if @sale %>
    <h5>Current Sale:</h5>
    <p> <%= @sale.title %> </p>
    <p> <%= @sale.percentage %> </p>
    <p> <%= @sale.packs %> </p>
    <p> <%= @sale.start_date %> </p>
    <p> <%= @sale.end_date %> </p>
  <% end %>
</div>
