<div class="padding-navbar content admin-min-height bg-dark">
  <div class="container">
    <%= render "admin_menu" %>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to "Exchange Rate Dashboard", "https://exchangerate.host/dashboard", class: "btn btn-primary", target: "_blank" %>
      </div>
      <div>
        <%= link_to "Re-calculate Exchange Rate", calculate_exchange_rate_path, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        <div class="btn btn-primary">EUR/USD: <%= CurrencyRate.where(base: "EUR").order(created_at: :desc).first.rate.to_f %></div>
      </div>
    </div>
  </div>
  <div class="container submission-container text-center">
    <div style="width: 100vw">
      <div class="d-flex text-white ml-5 bg-secondary p-2 rounded-1">
        <div>
          Total order count: <%= @total_orders_count %> / <%= number_to_currency(@total_orders_amount, unit: "$ ", separator: ",", precision: 2) %>
        </div>
        <div class="mx-3">
          |
        </div>
        <div>
          This month: <%= @month_orders_count %> / <%= number_to_currency(@month_orders_amount, unit: "$ ", separator: ",", precision: 2) %>
        </div>
        <div class="mx-3">
          |
        </div>
        <div>
          previous month: <span class="<%= @delta_count.positive? ? 'text-success' : 'text-danger-emphasis' %>"><%= @delta_count %></span>
          /
          <span class="<%= @delta_amount.positive? ? 'text-success' : 'text-danger-emphasis' %>"><%= number_to_currency(@delta_amount, unit: "$ ", separator: ",", precision: 2) %></span>
        </div>
      </div>
      <% @orders.each do |order| %>
        <div class="submission-card justify-content-between admin__order-grid">
          <div class="d-flex align-items-center">
            <div class="submission-card-date">
              <div class="submission-day"><%= order.created_at.strftime("%b %y") %></div>
              <div class="submission-date"><%= order.created_at.strftime("%d") %></div>
            </div>
            <div class="submission-card-content d-flex">
              <div class="title"><%= order.user.username.present? ? order.user.username : order.user.email.split('@').first %></div>
              <% if order.user.location.present? %>                
                <div class="mx-3">|</div>
                <div><%= order.user.location %></div>
              <% end %>
            </div>
          </div>

          <div class="d-flex flex-column">
            <div class="submission-date"><%= number_to_currency(order.amount_paid_cents / 100, unit: "$ ", separator: ",", precision: 2) %></div>
          </div>

          <div>
            <% if !order.packs.empty? %>
              <div class="d-flex flex-column">
                <% order.packs.each do |pack| %>
                  <div><%= SfxPack.find(pack).title %></div>
                <% end %>
              </div>
            <% end %>
            <% if !order.collections.empty? %>
              <% order.collections.each do |collection| %>
                  <div>Collection<%= " (#{Collection.find(collection).title})"if Collection.find(collection).title.present? %></div>
              <% end %>
            <% end %>
            <% if !order.tracks.empty? %>
              Individual tracks
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
