<div class="padding-navbar content admin-min-height bg-dark pb-5">
  <div class="container">
    <%= render "admin_menu" %>
    <div class="submissions-live__grid">
      <% @designers.each do |designer| %>
        <div class="designer-dashboard__container mb-3">
          <div class="designer-dashboard__user-profile">
            <div class="d-flex justify-content-between">
              <div>
                <%= designer.artist_name %>
              </div>
              <div class="d-flex">
                <%= link_to sound_designer_path(designer), target: "_blank", class: "designer-dashboard__hover-effect" do %>
                  <i class="fas fa-eye me-2" style="font-size: 1.1rem; margin-top: 3px"></i>
                <% end %>
                <a href="mailto:<%= designer.user.email %>" target="_blank"><i class="fas fa-envelope me-2 designer-dashboard__hover-effect"></i></a>
                <%= button_to legal_entity_reject_path(designer.legal_entity), method: "patch", data: { turbo_confirm: "Are you sure?" }, class: "designer-dashboard__hover-effect" do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
            <hr>
            <div class="d-flex submissions__pack-description">
              <div class="me-4">
                <% if designer.photo.present? %>
                  <%= cl_image_tag designer.photo.key, height: 180, width: 180, style: "border-radius: 8px" %>
                <% end %>
              </div>
              <div class="text-muted small d-flex flex-column justify-content-between">
                <div>
                  <p class="mb-1">• Active packs: <%= designer.sfx_packs.count %></p>
                  <p class="mb-1">• Since: <%= designer.created_at.strftime("%m / %Y") %></p>
                  <p class="mb-1">• Sold items: <%= designer.sold_items.count %></p>
                  <p class="mb-0">• Amount sold: <%= humanized_money(designer.amount_sold, symbol: "#{designer.currency.upcase} ") %></p>
                </div>
                <div class="flex flex-wrap gap-2 pb-2">
                  <% designer.main_categories.each do |tag| %>
                    <span class="text-white text-xs font-medium px-2 py-1 badge rounded-pill designer-dashboard__pills-color"><%= tag %></span>
                  <% end %>
                </div>
              </div>
              <div class="ms-auto text-end">
                <%= link_to "Legal profile", legal_entity_path(designer.legal_entity), target: "_blank", class: "btn btn-admin-active" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
