<div class="padding-navbar content admin-min-height bg-dark pb-5">
  <div class="container">
    <%= render "admin_menu" %>
    <div class="submissions-live__grid">
      <% @packs.each do |pack| %>
        <% case pack.status %>
        <% when "live" then pill_color_class = "live" %>
        <% when "declined" then pill_color_class = "declined" %>
        <% when "removed" then pill_color_class = "removed" %>
        <% else pill_color_class = "else" %>
        <% end %>
        <div class="designer-dashboard__container mb-3"
             data-designer-pack-filter-target="status"
             data-status="<%= pack.status %>">
          <div class="designer-dashboard__user-profile">
            <div class="d-flex justify-content-between">
              <div>
                <%= pack.title %><span class="badge rounded-pill text-bg-light ms-3 <%= pill_color_class %>"><%= pack.status %></span>
              </div>
              <div>
                <%= link_to sfx_pack_path(pack), target: "_blank" do %>
                  <i class="fas fa-eye me-2"></i>
                <% end %>
                <%= link_to update_pack_path(pack), class: "designer-dashboard__icon-white" do %>
                  <i class="fas fa-pen me-2"></i>
                <% end %>
                
                <% unless pack.removed? %>                  
                  <%= link_to remove_pack_path(pack), method: :delete, data: { confirm: "Are you sure you want to remove this pack?" }, class: "designer-dashboard__icon-white" do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
                
              </div>
            </div>
            <hr>
            <div class="d-flex submissions__pack-description">
              <div class="me-4">
                <% if pack.photos.present? %>
                  <%= cl_image_tag pack.photos.first.key, height: 180, width: 180, style: "border-radius: 8px" %>
                <% end %>
              </div>
              <div class="text-muted small d-flex flex-column justify-content-between">
                <div>
                  <p class="mb-1">• 48kHz / 24bit High Def Audio</p>
                  <% if pack.size_mb > 1000 %>
                    <p class="mb-1">• <%= (pack.size_mb / 1000.to_f).ceil(1) %> GB</p>
                  <% else %>
                    <p class="mb-1">• <%= pack.size_mb %> MB</p>
                  <% end %>
                  <p class="mb-1">• <%= pack.number_of_tracks %> Sounds</p>
                  <p class="mb-0">• Format: WAV</p>
                </div>
                <div class="designer-dashboard__pills">
                  <div class="flex flex-wrap gap-2 pb-2">
                    <% pack.category.split(", ").each do |tag| %>
                      <span class="text-white text-xs font-medium px-2 py-1 badge rounded-pill designer-dashboard__pills-color"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="submissions__pack-price">
                    <% if pack.price_cents == 0 %>
                      <span class="text-white text-xs px-2 py-1 badge rounded-pill" style="background-color: #ff00fe;">free</span>
                    <% else %>
                      <div id="submissions__pack-price-font">
                        <%= number_to_currency(pack.price, unit: "#{pack.currency_symbol} ", separator: ",", precision: 2) %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div><%= link_to "Accept", sfx_pack_accepted_path(pack), class: "btn btn-admin-active", style: "width: 100%" %></div>
              <div><%= link_to "Reject", sfx_pack_rejected_path(pack), class: "btn btn-warning" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
