<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
  <h1>Welcome to your cart <%= current_user.username %></h1>

  <% if @pack_list %>
    <% sum = 0 %>
      <% @pack_list.each_with_index do |pack, index| %>

        <% if index.positive? %>
          <div class="row item-attributes">
            <div class="col-xs-12 col-sm-4 col-lg-2">
              <%= image_tag pack.photos[0], width: "150px" %>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8 cart-pack-display">
              <div><h3><%= pack.title %></h3></div>
              <div>
                <h5><strong><%= humanized_money_with_symbol pack.price * 0.8 %></strong> instead of <strong><%= humanized_money_with_symbol pack.price %></strong></h5>
              </div>
              <% sum += ((pack.price_cents.to_f / 100) * 0.8) %>
                <%= form_tag remove_item_path do %>
                <%= hidden_field_tag 'pack_id', pack.id %>
                <%= submit_tag 'Remove', id: 'btn-remove' %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="row item-attributes">
            <div class="col-xs-12 col-sm-4 col-lg-2">
              <%= image_tag pack.photos[0], width: "150px" %>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8 cart-pack-display">
              <div><h3><%= pack.title %></h3></div>
              <div><h5><strong><%= humanized_money_with_symbol pack.price %></strong></h5></div>
              <% sum += (pack.price_cents.to_f / 100) %>
              <%= form_tag remove_item_path do %>
                <%= hidden_field_tag 'pack_id', pack.id %>
                <%= submit_tag 'Remove', id: 'btn-remove' %>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>

      <h3>Total Amount: <strong><%= humanized_money_with_symbol sum %></strong> </h3>
      <%= form_tag checkout_path do %>
        <%= hidden_field_tag 'cart_id', @items.id %>
        <%= submit_tag 'Checkout', id: 'btn-cart' %>
      <% end %>

  <% else %>
    <h3>Your cart is empty</h3>
  <% end %>
</div>
