<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content margins">
  <h2 id="cart-title">Welcome to your cart <%= current_user.username %></h2>

  <% if @pack_list %>
      <% @pack_list.each_with_index do |pack, index| %>
        <% if index.positive? %>
          <div class="row item-attributes">
            <div class="col-5 col-sm-4 col-lg-2">
              <div id="wrapper">
                <%= link_to sfx_pack_path(pack) do %>
                  <div><%= image_tag pack.photos[0], width: "150px", class: "pack_pic_cart" %></div>
                  <div class="pop-up-cart">See Details</div>
                <% end %>
              </div>
            </div>
            <div class="col-6 col-sm-8 col-lg-8 cart-pack-display">
              <div><h3><%= pack.title %></h3></div>
              <div>
                <div class="d-flex">
                  <div>
                    <h3><strong class="price-color"><%= humanized_money_with_symbol pack.price * 0.8 %></strong></h3>
                  </div>
                  <div>
                   <div id="instead"><i>(instead of <%= humanized_money_with_symbol pack.price %>)</i></div>
                   <div id="instead-mobile"><i>(inst. of <%= humanized_money_with_symbol pack.price %>)</i></div>
                  </div>
                </div>
              </div>
                <%= form_tag remove_item_path do %>
                <%= hidden_field_tag 'pack_id', pack.id %>
                <%= submit_tag 'Remove', id: 'btn-remove' %>
              <% end %>
            </div>
          </div>

          <div class="item-attributes-small">
            <div id="wrapper">
              <%= link_to sfx_pack_path(pack) do %>
                <div><%= image_tag pack.photos[0], width: "150px", class: "pack_pic_cart" %></div>
                <div class="pop-up-cart">See Details</div>
              <% end %>
            </div>
            <div><h3 id="pack-title-small"><%= pack.title %></h3></div>
            <div>
              <div class="d-flex justify-content-center">
                <div>
                  <h3><strong class="price-color"><%= humanized_money_with_symbol pack.price * 0.8 %></strong></h3>
                </div>
                <div>
                 <div id="instead"><i>(instead of <%= humanized_money_with_symbol pack.price %>)</i></div>
                 <div id="instead-mobile"><i>(inst. of <%= humanized_money_with_symbol pack.price %>)</i></div>
                </div>
              </div>
            </div>
              <%= form_tag remove_item_path do %>
              <%= hidden_field_tag 'pack_id', pack.id %>
              <%= submit_tag 'Remove', id: 'btn-remove' %>
            <% end %>
            <div style="height: 20px;"></div>
            <hr>
          </div>

        <% else %>
          <div class="row item-attributes">
            <div class="col-5 col-sm-4 col-lg-2">
              <div id="wrapper">
                <%= link_to sfx_pack_path(pack) do %>
                  <div><%= image_tag pack.photos[0], width: "150px", class: "pack_pic_cart" %></div>
                  <div class="pop-up-cart">See Details</div>
                <% end %>
              </div>
            </div>
            <div class="col-6 col-sm-8 col-lg-8 cart-pack-display">
              <div><h3><%= pack.title %></h3></div>
              <div><h3><strong class="price-color"><%= humanized_money_with_symbol pack.price %></strong></h3></div>
              <%= form_tag remove_item_path do %>
                <%= hidden_field_tag 'pack_id', pack.id %>
                <%= submit_tag 'Remove', id: 'btn-remove' %>
              <% end %>
            </div>
          </div>

          <div class="item-attributes-small">
            <div id="wrapper">
              <%= link_to sfx_pack_path(pack) do %>
                <div><%= image_tag pack.photos[0], width: "150px", class: "pack_pic_cart" %></div>
                <div class="pop-up-cart">See Details</div>
              <% end %>
            </div>
            <div><h3><%= pack.title %></h3></div>
            <div><h3><strong class="price-color"><%= humanized_money_with_symbol pack.price %></strong></h3></div>
            <%= form_tag remove_item_path do %>
              <%= hidden_field_tag 'pack_id', pack.id %>
              <%= submit_tag 'Remove', id: 'btn-remove' %>
            <% end %>
            <div style="height: 20px;"></div>
            <hr>
          </div>

        <% end %>

      <% end %>
      <div class="total">
        <h3>Total Amount: <strong class="price-color"><%= humanized_money_with_symbol @sum %></strong> </h3>
        <i>(number of items: <%= @pack_list.count %>)</i>
        <% if (@total_value - @sum) != 0 %>
          <p> <i>You spare <strong><%= humanized_money_with_symbol (@total_value - @sum) %></strong></i></p>
        <% else %>
          <div style="height: 10px;"></div>
        <% end %>
        <div class="d-flex justify-content-center">
          <div>
          <%= form_tag checkout_path do %>
            <%= hidden_field_tag 'cart_id', @items.id %>
            <%= submit_tag 'Checkout', id: 'btn-cart' %>
          <% end %>
          </div>
          <div id="continue-shopping">
            <%= link_to "Continue shopping", root_path %>
          </div>
        </div>
      </div>
  <% else %>
    <h3>Your cart is empty</h3>
  <% end %>
</div>
