<%= render "shared/left_pannel_mobile"%>
<div class="d-flex">
  <div style="margin-top: 56px">
    <%= render "shared/left_pannel_desktop"%>
  </div>
  <% if Cart.where(user: current_user).empty? %>
    <div class="padding-navbar content cart-margins cart-font" id="cart-container">
      <h3>Your cart is empty</h3>
      <%= link_to "Go Shopping", root_path %>
    </div>
  <% else %>
    <div class="padding-navbar content cart-margins cart-font" id="cart-container">
      <div class="pannel-grid" data-controller="unwrap-cart">
        <div class="cart-pannel">
          <% if Sale.where("end_date > ?", Date.current).count > 0 %>
            <%= render 'shared/cart_sale' %>
          <% else %>
            <%= render 'shared/cart_no_sale' %>
          <% end %>
        </div>

        <!-- Checkout pannel -->
        <div class="checkout-pannel">
          <div class="total">
            <div class="container-cart-total">
              <strong><h4 style="text-align: start; margin-top: 8px">TOTAL</h4></strong>
              <hr>

              <% if @total_pack_sum != 0 %>
                <div class="d-flex justify-content-between">
                  <h6>Packs</h6>
                  <span>
                    <% if @sum.class == Float %>
                      <%= humanized_money(@total_pack_sum, symbol: session[:currency]) %>
                    <% else %>
                      <%= humanized_money(@total_pack_sum, symbol: session[:currency]) %>.00
                    <% end %>
                  </span>
                </div>
              <% end %>

              <% if @current_collections.first %>
                <% if "$" != session[:currency] %>
                  <% conversion_rate = CurrencyRate.where("base = ? AND target = ?", "USD", "EUR").order(created_at: :desc).first.rate.to_f %>
                <% else %>
                  <% conversion_rate = 1 %>
                <% end %>
                <div class="d-flex justify-content-between">
                  <h6>Collection</h6>
                  <span>
                    <% if humanized_money(@current_collections.first.price * conversion_rate) == (@current_collections.first.price * conversion_rate).to_i %>
                      <%= humanized_money(@current_collections.first.price * conversion_rate, symbol: session[:currency]) %>.00
                    <% else %>
                      <%= humanized_money(@current_collections.first.price * conversion_rate, symbol: session[:currency]) %>
                    <% end %>
                  </span>
                </div>
              <% end %>

              <% if @single_tracks_value != 0 %>
                <% if "$" != session[:currency] %>
                  <% conversion_rate = CurrencyRate.where("base = ? AND target = ?", "USD", "EUR").order(created_at: :desc).first.rate.to_f %>
                <% else %>
                  <% conversion_rate = 1 %>
                <% end %>
                <div class="d-flex justify-content-between">
                  <h6>Single-Tracks</h6>
                  <span>
                    <% if @single_tracks_value == @single_tracks_value.to_i %>
                      <%= humanized_money(@single_tracks_value, symbol: session[:currency]) %>.00
                    <% else %>
                      <%= humanized_money(@single_tracks_value, symbol: session[:currency]) %>
                    <% end %>
                  </span>
                </div>
              <% end %>

              <hr>
              <div class="d-flex justify-content-between">
                <h6>Total</h6>
                <span>
                  <% if @sum.class == Float %>
                    <%= humanized_money(@sum, symbol: session[:currency]) %>
                  <% else %>
                    <%= humanized_money(@sum, symbol: session[:currency]) %>.00
                  <% end %>
                </span>
              </div>
              <div class="d-flex justify-content-between cart-vat-display">
                <span>VAT (19% inclusive)</span>
                <span>
                  <% if @vat.class == Float %>
                    <%= humanized_money(@vat, symbol: session[:currency]) %>
                  <% else %>
                    <%= humanized_money(@vat, symbol: session[:currency]) %>,00
                  <% end %>
                </span>
              </div>
              <% if (@total_value - @sum) > 0 %>
                <p style="text-align: end; font-size: 0.8em; font-style: italic">(You spare <%= humanized_money(@total_value - @sum, symbol: session[:currency]) %>)</p>
              <% else %>
                <div style="height: 10px;"></div>
              <% end %>
              <div class="d-flex justify-content-between">
                <div id="continue-shopping">
                  <%= link_to "Continue shopping", root_path %>
                </div>
                <div>
                  <%= form_tag checkout_path(cart_id: @items.id, collection_id: @current_collections.first, currency: session[:currency]) do %>
                    <%= submit_tag 'Checkout', id: 'btn-cart' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>