<%= paginator.render do %>
  <nav>
    <ul class="pagination">
      <!-- <%= first_page_tag unless current_page.first? %> -->
      <% if current_page.first? %>
        <span disabled style="color: #cccc"><%= prev_page_tag %></span>
      <% else %>
        <%= prev_page_tag %>
      <% end %>
        <!-- <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end %>
      <% end %> -->
      <span class="count-customize"><%= per_page.to_i * (current_page.to_i - 1) %></span>
      <p class="dash">-</p>
      <span class="count-customize"><%= per_page.to_i * current_page.to_i %></span>
      <% if current_page.last? %>
        <span disabled style="color: #cccc"><%= next_page_tag %></span>
      <% else %>
        <%= next_page_tag %>
      <% end %>
      <!-- <%= last_page_tag unless current_page.last? %> -->
    </ul>
  </nav>
<% end %>
