<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
  <div class="checkout">
    <% if @order.multiple == false %>
      <div class="row py-4">
        <div class="col-md-3"><%= image_tag @photo, width: '100%' %></div>
        <div class="col">
          <h1>Checkout summary</h1>


              <p>Purchase of <strong><%= @order.sfx_pack.title %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>

          <button id="pay" class="btn btn-primary">Pay</button>

          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @order.checkout_session_id %>'
              });
            });
          </script>
          <%= link_to "cancel", destroy_order_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% else %>
      <h1>Checkout summary</h1>

      <% if @current_sales_list != {} %>
        <%= render 'shared/payment_sale' %>
      <% else %>
        <%= render 'shared/payment_no_sale' %>
      <% end %>

      <h3>For a total amount of <%= humanized_money_with_symbol @order.amount %> </h3>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      <%= link_to "cancel", destroy_order_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
