<div class="container padding-navbar content">
  <div class="checkout checkout-font">

    <div class="d-flex justify-content-between">
      <h1 style="margin-bottom: 20px">Checkout summary</h1>
      <div class="sub-total" style="margin-right:0">
        Total amount: <span style="color: #69aa97; font-weight: 500"><%= humanized_money_with_symbol @order.amount %></span>
      </div>
    </div>

    <div class="packs-display" style="margin-bottom: 16px; padding: 20px 0">

      <% if @order.packs == [] && @order.collections == [] && @order.tracks == [] %>
        <div class="pack-payment-checkout">
          <%= render 'shared/payment_single_pack' %>
        </div>
      <% end %>

      <% if @order.packs != [] %>
        <div class="pack-payment-checkout">
          <%= render 'shared/payment_packs' %>
          <%# Sub-total is in the rendered shared file %>
        </div>
      <% end %>

      <div class="collection-payment-checkout">
        <% if !@collection.nil? %>
          <div class="payment_collection_tracks_desktop_view">
            <%= render 'shared/payment_collection_tracks' %>
          </div>
          <div class="payment_collection_tracks_mobile_view">
            <%= render 'shared/payment_collection_tracks_mobile' %>
          </div>
          <hr>
        <% end %>
      </div>

      <div class="tracks-payment-checkout">
        <% if @order.tracks != [] %>
          <div class="payment_collection_tracks_desktop_view">
            <%= render 'shared/payment_single_tracks' %>
          </div>
          <div class="payment_collection_tracks_mobile_view">
            <%= render 'shared/payment_single_tracks_mobile' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="total-checkout packs-display">
      <div class="payment-total-desktop">
        <h3>For a total amount of <span style="color: #69aa97"><%= humanized_money_with_symbol @order.amount %></span> <em style="font-size: 1rem">(VAT included)</em> </h3>
      </div>
      <div class="payment-total-mobile">
        <h3 id="payment-total-h3-mobile">For a total amount of:</h3>
        <div id="payment-total-amount-mobile">
          <span style="color: #69aa97"><%= humanized_money_with_symbol @order.amount %></span> <em style="font-size: 1rem">(VAT included)</em> 
        </div>
      </div>
      <div class="payment-buttons-mobile">
        <button id="pay" class="btn btn-primary btn-pay-checkout">Pay</button>
        <%= link_to "cancel", destroy_order_path, class: "btn btn-primary btn-cancel-checkout" %>
      </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      });
    </script>

  </div>
</div>
