<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
  <div class="checkout">
    <% if @order.multiple == false %>
      <div class="row py-4">
        <div class="col-md-3"><%= image_tag @photo, width: '100%' %></div>
        <div class="col">
          <h1>Checkout summary</h1>
            <p>Purchase of <strong><%= @order.sfx_pack.title %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
          <button id="pay" class="btn btn-primary">Pay</button>

          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @order.checkout_session_id %>'
              });
            });
          </script>
          <%= link_to "cancel", destroy_order_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% else %>
      <h1>Checkout summary</h1>

      <% @order.packs.each_with_index do |pack, index| %>
        <% if index.positive? %>
          <div class="row py-4">
            <div class="col-md-3"><%= image_tag SfxPack.find(pack).photos[0], width: "100px" %></div>
            <div class="col">
                <p>Purchase of <strong><%= SfxPack.find(pack).title %></strong> for <strong><%= humanized_money_with_symbol SfxPack.find(pack).price * 0.8 %></strong> instead of <strong><%= humanized_money_with_symbol SfxPack.find(pack).price %></strong></p>
            </div>
        </div>
        <% else %>
          <div class="row py-4">
            <div class="col-md-3"><%= image_tag SfxPack.find(pack).photos[0], width: "100px" %></div>
            <div class="col">
                <p>Purchase of <strong><%= SfxPack.find(pack).title %></strong> for <strong><%= humanized_money_with_symbol SfxPack.find(pack).price %></strong></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <h3>For a total amount of <%= humanized_money_with_symbol @order.amount %> </h3>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      <%= link_to "cancel", destroy_order_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
