<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content">
  <div class="checkout checkout-font">
    <% if @order.multiple == false %>
      <div class="col">
        <h1>Checkout summary</h1>
        
        <h3>Total purchase for <span style="color: #ffa500"><%= humanized_money_with_symbol @order.amount %><%= ".00" unless humanized_money_with_symbol(@order.amount).include?(".") %></span></h3>
        <div class="col-md-3"><%= image_tag @photo, width: '100%' %></div>
        <hr>
        <%= render 'shared/payment_single_tracks' %>
        <hr>
        <% if !@collection.nil? %>
          <%= render 'shared/payment_collection_tracks' %>
        <% end %>
        <hr>
        <button id="pay" class="btn btn-primary">Pay</button>

        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
        <%= link_to "cancel", destroy_order_path, class: "btn btn-primary" %>
        <p>If you are having trouble paying please make sure that the url is secure: <strong><span style="color: #ffa500">https</span></strong> (and not http). If the url is http, just add the <strong><span style="color: #ffa500">s</span></strong> at the end and press <strong><span style="color: #ffa500">PAY</span></strong>.</p>
      </div>
    <% else %>
      <h1>Checkout summary</h1>

      <% if @current_sales_list != {} %>
        <%= render 'shared/payment_sale' %>
      <% else %>
        <%= render 'shared/payment_no_sale' %>
      <% end %>

      <% if @order.tracks != [] %>
        <hr>
        <%= render 'shared/payment_single_tracks' %>
      <% end %>
      <% if !@collection.nil? %>
        <hr>
        <%= render 'shared/payment_collection_tracks' %>
      <% end %>
      <hr>

      <h3>For a total amount of <%= humanized_money_with_symbol @order.amount %> </h3>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      <%= link_to "cancel", destroy_order_path, class: "btn btn-primary" %>
      <p>If you are having trouble paying please make sure that the url is secure: <strong><span style="color: #ffa500">https</span></strong> (and not http). If the url is http, just add the <strong><span style="color: #ffa500">s</span></strong> at the end and press <strong><span style="color: #ffa500">PAY</span></strong>.</p>
    <% end %>
  </div>
</div>
