<h1>Welcome to your dashboard</h1>
<%= current_user.id %>
<%= current_user.orders.count %>
<% current_user.orders.each do |order| %>
  <p> <%= order.sfx_pack.title %> </p>
  <%= image_tag order.sfx_pack.photos[0], width: "200px" %>
  <p> <%= order.amount %> </p>
  <p> <%= order.created_at %> </p>
  <p> <%= order.status %> </p>
<% end %>
