<%= render 'shared/navbar_general' %>
<div class="container padding-navbar content dashboard-center">
    <h1 class="dashboard-title">Your dashboard</h1>

    <% if @status == "subscribed" %>
      <h6 id="newsletter-info-card"> <i class="fas fa-info-circle"></i> You have subscribed to our <strong>newsletter</strong>. Click <%= link_to "here", unsubscribe_path %> to unsubscribe and miss all our great news and deals! </h6>
    <% else %>
      <h6 id="newsletter-info-card"> <i class="fas fa-info-circle"></i> Subscribe to our newsletter to get cool news and discounts all year long, AND receive a free pack of sounds right away! <%= link_to "CLICK HERE", subscribe_path %> </h6>
    <% end %>

    <% if @orders.count == 0 %>
      <h3>You haven't purchased anything yet</h3>
    <% end %>

    <div id="order-card-desktop">
      <%= render 'shared/order_card_desktop' %>
    </div>
    
    <div id="order-card-mobile">
      <%= render 'shared/order_card_mobile' %>
    </div>
</div>
