<div class="container">
  <h1>Hello
    <% if current_user.username == "" %>
      <%= "stranger, welcome to your dashboard" %>
    <% else %>
      <%= " #{current_user.username}, welcome to your dashboard" %>
    <% end %>
  </h1>
  <% if current_user.location %>
    <h4>How is the weather today in <%= current_user.location %>?</h4>
  <% end %>
  <h4><%= link_to "Edit your Profile", edit_user_registration_path(current_user) %></h4>

  <%= render 'shared/pending_card' %>

  <%= render 'shared/order_card' %>

</div>
