<%= render 'shared/navbar' %>
<div>
  <div class="banner">
    <h1 class="padding-navbar">Collection</h1>
    <div class="d-flex justify-content-between">
      <button class="invisible learn-more">Learn more</button>
      <p>Browse through tracks and create your own collection</p>
      <button class="learn-more" id="learnMoreBtn">Learn more</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="forms">
      <div class="drop-down">
        <form action="/list">
          <div class="d-flex justify-content-start">
            <div>
              <select type="text" name="dropdown" placeholder="category">
                <option value="all">category</option>
                <% @categories.each do |cat| %>
                  <option value="<%= cat.to_s %>"><%= cat.to_s %></option>
                <% end %>
              </select>
            </div>
            <div>
              <input type="submit" value="GO">
            </div>
          </div>
        </form>
      </div>
      <div class="search-form">
        <form action="/list">
          <input type="text" name="search" placeholder="<%= @search %>">
          <button type="submit" class="submit-button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    <%= render 'shared/paginate_tracks' %>
  </div>
</div>

<!-- The Modal -->
<div id="learnMore" class="learn-more-modal">
  <!-- Modal content -->
  <div class="learn-more-modal-content">
    <span class="learn-more-close">&times;</span>
    <p>The "Build your own Collection feature" is coming soon!!!</p>
  </div>
</div>
