<%= render 'shared/navbar' %>
<div>
  <div class="banner">
    <h1 class="padding-navbar">Collection</h1>
    <div class="d-flex justify-content-between">
      <button class="invisible learn-more">Learn more</button>
      <p>Browse through tracks and create your own collection</p>
      <button class="learn-more" id="learnMoreBtn">Learn more</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="forms">
      <div class="drop-down">
        <form action="/list">
          <div class="d-flex justify-content-start">
            <div>
              <select type="text" name="dropdown" placeholder="category">
                <option value="all">category</option>
                <% @categories.each do |cat| %>
                  <option value="<%= cat.to_s %>"><%= cat.to_s %></option>
                <% end %>
              </select>
            </div>
            <div>
              <input type="submit" value="GO">
            </div>
          </div>
        </form>
      </div>
      <div class="search-form">
        <form action="/list">
          <input type="text" name="search" placeholder="<%= @search %>">
          <button type="submit" class="submit-button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    <%= paginate @tracks, class: "paginator-top" %>
    <ul>
      <% @tracks.each do |track| %>
      <li class="border">
        <div class="wrapper">
          <div class="d-flex justify-content-start elements-position">
            <span class="icon-adjust"><%= sanitize @icons[track.category.to_sym] %></span>
            <span class="title-font pad-top max-width"><%= track.title %></span>
          </div>
          <div class="d-flex justify-content-between wave-section elements-position">
            <div class="wave" id="id<%= track.id %>" data-link="<%= track.link %>"></div>
            <p class="info-font pad-top" id="trackDurationid<%= track.id %>"></p>
            <i class="far fa-play-circle pad-top" id="playid<%= track.id %>"></i>
            <i class="far fa-pause-circle pad-top" id="stopid<%= track.id %>" style="display: none"></i>
          </div>
          <div class="d-flex justify-content-between wave-section elements-position">
            <span class="info-font pad-top">
            <% if humanized_money_with_symbol(track.price).include?(".") %>
              <%= humanized_money_with_symbol(track.price) %>
            <% else %>
              <%= humanized_money_with_symbol(track.price) %>.00
            <% end %>
            </span>
            <span class="info-font points"><%= track.points%></span>
            <i class="far fa-heart pad-top"></i>
            <i class="fas fa-heart pad-top d-none"></i>
          </div>
          <div class="d-flex justify-content-center purchase-section">
            <i class="far fa-layer-plus pad-top purchase-icons"></i>
            <i class="far fa-layer-minus pad-top d-none purchase-icons" style="color: #FFA500"></i>
            
            <% if current_user && Cart.where(user_id: current_user.id).first && Cart.where(user_id: current_user.id).first.sinlge_tracks != nil && (Cart.where(user_id: current_user.id).first.sinlge_tracks.include? track.id) %>
              <%= link_to single_tracks_cart_remove_path(track_id: track.id), method: :post do %>
                <i class="fas fa-trash-alt pad-top purchase-icons icon-click-hover in-cart"></i>
              <% end %>
            <% else %>
              <%= link_to single_tracks_cart_path(track_id: track.id), method: :post do %>
                  <i class="fas fa-cart-plus pad-top purchase-icons icon-click-hover"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <%= paginate @tracks, class: "paginator-bottom" %>
  </div>
</div>

<!-- The Modal -->
<div id="learnMore" class="learn-more-modal">
  <!-- Modal content -->
  <div class="learn-more-modal-content">
    <span class="learn-more-close">&times;</span>
    <p>The "Build your own Collection feature" is coming soon!!!</p>
  </div>
</div>
