<%= render 'shared/navbar' %>
<div>
  <div class="banner">
    <h1 class="padding-navbar">Collection</h1>
    <div class="d-flex justify-content-between" id="index-banner-text">
      <button class="invisible learn-more">Learn more</button>
      <p>Browse through tracks and create your own collection</p>
      <button class="learn-more" id="learnMoreBtn">Learn more</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="forms">
      <div class="drop-down">
        <form action="/list">
          <div class="d-flex justify-content-start">
            <div>
              <select type="text" name="dropdown" placeholder="category">
                <option value="" selected disabled hidden>Pick a category</option>
                <% @categories.each do |cat| %>
                  <option value="<%= cat.to_s %>"><%= cat.to_s %></option>
                <% end %>
              </select>
            </div>
            <div>
              <input type="submit" value="GO">
            </div>
          </div>
        </form>
      </div>
      <div class="search-form">
        <form action="/list">
          <input type="text" name="search" placeholder="<%= @search %>">
          <button type="submit" class="submit-button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    <div>

    <div class="drop-down">
      <form action="/list">
        <input type="hidden" name="previous_sort" value="<%= @search %>">
        <input type="hidden" name="previous_category" value="<%= @dropdown %>">
        <div class="d-flex justify-content-start">
          <div>
            <select type="text" name="order_by_dropdown" placeholder="Order by">
              <option value="" selected disabled hidden>Order by</option>
              <option value="title">Title</option>
              <option value="size">Duration</option>
              <option value="price_cents">Price</option>
              <option value="points">Points</option>
            </select>
          </div>
          <div>
            <input type="submit" value="GO">
          </div>
        </div>
      </form>
    </div>

    </div>
    <div id="paginate-desktop">
      <%= render 'shared/paginate_tracks' %>
    </div>
    <div id="paginate-mobile" class="screen-display">
      <%= render 'shared/paginate_tracks_mobile' %>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="learnMore" class="learn-more-modal">
  <!-- Modal content -->
  <div class="learn-more-modal-content">
    <span class="learn-more-close">&times;</span>
    <p>The "Build your own Collection feature" is coming soon!!!</p>
  </div>
</div>
