<%= render 'shared/navbar_single_tracks' %>
<div>
  <div class="banner">
    <h1 class="padding-navbar">Create your own Collection !</h1>
    <div class="d-flex justify-content-between" id="index-banner-text">
      <button class="invisible learn-more">Learn more</button>
      <button class="learn-more" id="learnMoreBtn">Learn more</button>
    </div>
  </div>
  <div class="container-fluid">
    <%# DESKTOP %>
    <div id="paginate-desktop">
      <div class="forms">
        <div class="drop-down">
          <form action="/list" data-controller="category">
            <input type="hidden" name="category" value="<%= @dropdown %>" data-category-target="dropdown">
            <div class="d-flex justify-content-start">
              <div>
                <select type="text" name="dropdown" placeholder="category">
                  <option value="" selected disabled hidden>Pick a category</option>
                  <% @categories.each do |cat| %>
                    <option value="<%= cat.to_s %>" data-category-target="<%= cat.to_s %>"><%= cat.to_s.capitalize %></option>
                  <% end %>
                </select>
              </div>
              <div>
                <input type="submit" value="GO">
              </div>
            </div>
          </form>
        </div>
        <div class="search-form">
          <form action="/list">
            <input type="text" name="search" placeholder="<%= @search %>">
            <button type="submit" class="submit-button"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
      <div>
        <div class="drop-down-category">
          <form action="/list" data-controller="select">
            <input type="hidden" name="previous_sort" value="<%= @search %>">
            <input type="hidden" name="previous_category" value="<%= @dropdown %>">
            <input type="hidden" name="order" value="<%= @order %>" data-select-target="order">
            <div class="d-flex justify-content-start">
              <div>
                <select type="text" name="order_by_dropdown" placeholder="Order by">
                  <option selected disabled>Order by</option>
                  <option value="title" data-select-target="title">Title</option>
                  <option value="size" data-select-target="size">Duration</option>
                  <option value="price_cents" data-select-target="price_cents">Price</option>
                  <option value="points" data-select-target="points">Points</option>
                </select>
              </div>
              <div>
                <input type="submit" value="GO">
              </div>
            </div>
          </form>
        </div>
      </div>
      <%= render 'shared/paginate_tracks' %>
    </div>

     <%# MOBILE %>
    <div id="paginate-mobile" class="screen-display">
      <%= render 'shared/paginate_tracks_mobile' %>
    </div>

  </div>
</div>

<!-- The Learn More Modal -->
<div id="learnMore" class="learn-more-modal">
  <!-- Modal content -->
  <div class="learn-more-modal-content">
    <span class="learn-more-close">&times;</span>
    <div class="d-flex justify-content-center">
      <div>
        <%= image_tag asset_path('knight.png'), id: "knight-gif" %>
      </div>
      <div>
        <h2 id="comming-soon">Coming Soon!!!</h2>
      </div>
    </div>
    <br>
    <h5>The <span class="orange-words">Collection</span> feature is a very cool feature that will offer you the possibility to
    create your own <span class="orange-words">Sound Effects Pack</span>.<br>Here is yow it works:
    You might need a very specific set of sounds for your film or video game. You might not want to pay for 3 different packs or
    buy the tracks separately which can become pretty expensive!
    <br>
    <br>Enters the <span class="orange-words">Collection System</span>: Select your tracks. Each track is attributed some points,
    which are added up to calculate a very reasonable Pack-like price! <span class="orange-words">Coming soon!!!</span></h5>
  </div>
</div>
