<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="BAM Sound Effects" content="Welcome to BAMSFX where you will find professional high quality Sound Effects for all your projects!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound FX shop | Find the perfect sound effects for your project!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook Open Graph data -->
    <!--
    <meta property="og:title" content="BamSFX - Professional Sound Effects to elevate your projects to the next level" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.bamsfx.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dk9a86uhu/image/upload/v1695194012/sfx_shop/BamSFX_meta_vcgic4.png" />
    <meta property="og:description" content="Sound FX shop | Find the perfect sound effects for your project!" />
    <meta property="og:site_name" content="BAM Sound Effects" />
    -->

    <!--
    <title><%= content_for?(:meta_title) ? yield(:meta_title) : "BamSFX" %></title>
    -->
    <meta property="og:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : 'BamSFX - Professional Sound Effects to elevate your projects to the next level' %>">
    <meta property="og:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : 'Find the perfect sound effect for your project.' %>">
    <meta property="og:image" content="<%= content_for?(:meta_image) ? yield(:meta_image) : image_url("https://res.cloudinary.com/dk9a86uhu/image/upload/v1695194012/sfx_shop/BamSFX_meta_vcgic4.png") %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:site_name" content="BAM Sound Effects" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card data -->
    <!--
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="BAM Sound Effects">
    <meta name="twitter:title" content="BAM Sound Effects">
    <meta name="twitter:description" content="Sound FX shop | Find the perfect sound effects for your project!">
    <meta name="twitter:creator" content="@OGmusik">
    <meta name="twitter:image" content="https://res.cloudinary.com/dk9a86uhu/image/upload/v1695194012/sfx_shop/BamSFX_meta_vcgic4.png">
    -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="BAM Sound Effects">
    <meta name="twitter:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : 'BAM Sound Effects' %>">
    <meta name="twitter:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : 'Sound FX shop | Find the perfect sound effects for your project!' %>">
    <meta name="twitter:creator" content="@OGmusik">
    <meta name="twitter:image" content="<%= content_for?(:meta_image) ? yield(:meta_image) : image_url('https://res.cloudinary.com/dk9a86uhu/image/upload/v1695194012/sfx_shop/BamSFX_meta_vcgic4.png') %>">


    <%= favicon_link_tag asset_path('logo/logo_BAM_3.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="724c85ca-867f-475f-8e1d-9fa1ba844e05" data-blockingmode="auto" type="text/javascript"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="d-flex flex-column justify-content-between" style="min-height: 100vh; <%= 'background-color: #202020' if controller_name == "administrator" %>">
      <div>
        <%= render 'shared/navbar_simple' %>
        <%= yield %>
      </div>
      <div>
        <%= render 'shared/flashes' %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
