<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="BAM Sound Effects" content="Welcome to BAM SFX where you will find professional high quality Sound Effects for all your projects!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound FX shop | Find the perfect sound effects for your project!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Olivier Girardot Full-stack Web Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.bamsfx.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dk9a86uhu/image/upload/v1614260549/sfx_shop/bamsfx_hqpfgq.png" />
    <meta property="og:description" content="Sound FX shop | Find the perfect sound effects for your project!" />
    <meta property="og:site_name" content="BAM Sound Effects" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Summary">
    <meta name="twitter:site" content="BAM Sound Effects">
    <meta name="twitter:title" content="BAM Sound Effects">
    <meta name="twitter:description" content="Sound FX shop | Find the perfect sound effects for your project!">
    <meta name="twitter:creator" content="@OGmusik">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dk9a86uhu/image/upload/v1614260549/sfx_shop/bamsfx_hqpfgq.png">

    <%= favicon_link_tag asset_path('logo/logo_BAM_3.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
